.region-content-bottom2 {
    border: 2px solid #582A8A;
    /*height: 140px;*/
    margin-top: 320px;
}

#block-block-3 {
    height: auto;
    margin-top: 0;
    padding-top: 20px;
    position: static;
    width: 758px;
}


#views_slideshow_thumbnailhover_breakout_teasers_novedades_listado-block_1 {
    width: 290px;
}

#views_slideshow_thumbnailhover_main_novedades_listado-block_1 {
float: left;
}

.views-slideshow-controls-bottom {
float: right;
margin:0px 20px 0px 0px;
}


.view-novedades-listado .views_slideshow_thumbnailhover_breakout_teasers .views-field-title a {
color: black;
font-size: 1.2em;
font-weight: bold;
line-height: 16pt;
padding-left: 50px;
display:block;
text-decoration: none;
background: url("../images/icono-flecha.gif")no-repeat scroll 20px 0 transparent; 
}

#block-views-novedades_listado-block_1 .view-novedades-listado .views-content-field-picture-fid img {
    -moz-border-radius: 10px 10px 10px 10px;
   margin-left: 25px;
    margin-top: 20px;
    position: absolute;
}

#views_slideshow_thumbnailhover_main_novedades_listado-block_1 .views-field-title a {
    background: none repeat scroll 0 0 black;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 197px;
    opacity: 0.8;
    
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    text-decoration: none;
    width: 420px;
}
 /*
#views_slideshow_thumbnailhover_main_novedades_listado-block_1 .views-field-title a {
 background: none repeat scroll 0 0 black;
  color: #FFFFFF;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  font-size: 15px;
  font-weight: bold;
  margin-left: 11px;
  margin-top: 197px;
  opacity: 0.555;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  text-decoration: none;
  width: 420px;

}
*/
/*
#views_slideshow_thumbnailhover_main_novedades_listado-block_1 .views-field-body {
    -moz-border-radius: 0 0 15px 15px;
    background: none repeat scroll 0 0 black;
    color: #FFFFFF;
    font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
    font-size: 9pt;
    height: 78px;
    margin-left: 37px;
    margin-top: 215px;
    opacity: 0.555;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    width: 420px;
}
*/
#views_slideshow_thumbnailhover_main_novedades_listado-block_1 .views-field-body {
    -moz-border-radius: 0 0 15px 15px;
    background: none repeat scroll 0 0 black;
    color: #FFFFFF;
    font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
    font-size: 9pt;
    height: 75px;
    margin-left: 25px;
    margin-top: 215px;
    opacity: 0.8;
    filter: alpha(opacity=80);	
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    width: 420px;
}

#cumulusflash {
  border: 3px solid #582A8A;
  height: 150px;
  margin-left: 10px;
  margin-top: 8px;
  width: 160px;
}

#block-cumulus-0 .more-link {
  margin-right: 20px;
  margin-top:0px;
}


.view-content .calendar-calendar .date-nav {
  min-height: 2px;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
}

.view-content .calendar-calendar .date-heading {
/*  background-color: #582A8A;
  display: block;
  height: 35px;
  margin-top: -4px;
  */
}

.view-content .calendar-calendar .date-heading h3 {
  /*  font-size: 11px;
    line-height:15px;  */
}

.view-content .calendar-calendar .date-prev {
    padding: 0 0;
}
.view-content .calendar-calendar .date-next {
    padding: 0 0;
}

#block-views-proyectos-block_1 .views-field-body {
  margin-left: 140px;
  margin-top: 5px;
}
#block-views-proyectos-block_1 .views-field-title {
  margin-left: 140px;
}
#block-views-proyectos-block_2 .views-field-title {
  margin-left: 140px;
}
#block-views-proyectos-block_2 .views-field-body {
  margin-left: 140px;
  margin-top: 5px;
}

.view-proyectos .views-field-field-picture-fid {
 /* -moz-box-shadow: 5px 5px 5px black;*/
}
.block ul {
  margin: 0;
  padding: 0 0 0.25em;
}

.view-content .calendar-calendar .date-next {
  background: none repeat scroll 0 0 transparent;
 /* padding: 10px 0;*/
}

.view-content .calendar-calendar .date-prev {
  background: none repeat scroll 0 0 transparent;
 /* padding: 10px 0;*/
}

.view-content .calendar-calendar .date-heading h3 {
 /*  font-size: 1.7em;
 line-height: 17px;*/
}

.view-content .calendar-calendar .date-heading {
 /*
  background-color: #582A8A;
  display: block;
  height: 25px;
  margin-top: 6px;
*/
}

#block-search-0 h2.title {
    display: none;
    text-indent: -999999px;
}

#block-menu-menu-menuproyectoscuencas ul {
  margin: 35px 0 1em;
}

#block-cumulus-0 .more-link {
  display: none;
}    


.region-content-bottom2 {
  margin-top: 370px;
}

.page-node-112 .section h1 ,.page-node-165 .section h1{
  text-indent: -9999px;
  display: none;
}

/* bloque derecha 
 * 
*/

.page-node-112 #block-menu-menu-menuproyectoscuencas ul {
  /*  margin: 125px 0 1em; */
}
.page-node-165 #block-menu-menu-menuproyectoscuencas ul {
  /*  margin: 125px 0 1em; */
}

.page-node-112 .region-content-bottom2 {
  height: 130px;
  margin-top:20px
}
.page-node-165 .region-content-bottom2 {
  /*height: 130px;*/
  margin-top:20px;
}
.page-node-112 #block-block-3 , .page-node-165 #block-block-3{
  padding-top: 20px;
}

.page-aliados #block-block-3 {
  padding-top: 20px;
}

.page-aliados .region-content-bottom2 {
  /*height: 130px;*/
  margin-top: 20px;
}
.page-colaboradores .region-content-bottom2 {
  /*height: 130px;*/
  margin-top: 20px;
}
.page-colaboradores #block-block-3 {
  padding-top: 20px;
}

.page-nuestros-proyectos #block-block-3 {
  padding-top: 20px;
}

.page-nuestros-proyectos .region-content-bottom2 {
 /* height: 130px;*/
}

.node-type-sitio-cuenca .region-content-bottom2 {
   /* height: 130px;*/
    margin-top:580px;
}

.node-type-sitio-cuenca #block-block-3 {
  padding-top: 20px;
}

.node-type-investigador .field-field-picture img {

  -moz-box-shadow: 5px 5px 5px black;

}

.node .meta {
display:none;
}
.translation-link {
display:none;
}

.node-type-investigador .titulo_colaborador {
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 15px;
}

.node-type-investigador .texto_colaborador {
    padding-bottom: 15px;
    font-size:12px;
}

.block-menu-menu-mquienessomos h2.title {
display:none;
}
 
.node-type-investigador .datos_investigador {
    border: 1px solid #582A8A;
     padding-top: 20px;

    background:white;
} 
 
#content-area .node-type-investigador .content {
 border: 2px solid  #582A8A;
 background: #D6D6D6;
   padding: 25px;
}


.derecha_colaborador {
margin-left:170px;
padding-right:10px;
}

.node-type-investigador .field-field-picture {

    padding-left: 20px;
 
}

.node-type-investigador .linkvolver img {
  margin-left: 390px;
  vertical-align: top;
  
}
.node-type-investigador .linkvolver {
margin-bottom:20px;
margin-top:20px;
}

 /*
.node-type-investigador .node {
 margin-top:60px;
}
 
 
*/

 
.node-type-investigador .region-content-top .container-inline {
    background: none repeat scroll 0 0 #582A8A;
    height: 30px;
    margin-left: 27px;
    margin-top: 28px;
    padding-right: 10px;
    position: absolute;
    text-align: right;
    width: 696px;
        padding-top: 2px;
}



.region-content-top .block-search .form-submit {
  background: url("../images/btn_buscar.png") no-repeat scroll 0 0 transparent;
  border: medium none;
  height: 21px;
  text-indent: -9999px;
  width: 21px;
}


#block-views-novedades_listado-block_1 .view-novedades-listado .views-field-field-picture-fid {
  background-color: none;
  border: 0px solid none;
  -moz-border-radius: none;
  -moz-box-shadow: none;
  background-color: none;
  border: none;
}

.node-type-conocelosandes-story .titulo_conocelosandes {
  color: #582A8A;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 15px;
}

.node-type-recursos .field-field-picture img {
  -moz-box-shadow: 5px 5px 5px black;
  margin-left:20px
}

.node-type-recursos .izquierda_recurso {
  padding-top: 20px;
  padding-right:0px;
}
.node-type-recursos .derecha_recurso {
  padding-right: 10px;
}

.node-type-recursos .video_recurso {
  margin-top: -10px;
  padding-left: 20px;
}

#block-locale-0 h2.title {
  display: none;
}

.barra_andesbdc {
  background: none repeat scroll 0 0 #582A8A;
  color: white;
  font-size: 25px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding-right: 10px;
  text-align: right;
}

h2 {
  font-size: 25px;
} 

#block-views-novedades_listado-block_1 .view-novedades-listado .views-field-field-picture-fid {
  background-color: none;
  border: 0px solid;
  list-style:none;
}

.node-type-sitio-cuenca ..view-cuencas .views-field-body {
  clear: none;
  display: block;
}

#block-views-cuencas-block_2 {
  height: 537px;
}

#views_slideshow_singleframe_playpause_cuencas-block_1 {
  display:none;
}

#block-views-cuencas-block_1 #views_slideshow_singleframe_controls_cuencas-block_1 {
  margin-left: 20px;
  position: absolute;
}

#block-views-cuencas-block_3 .view-cuencas .views-row {
  height: 25px;
}

#block-views-cuencas-block_1 .content {
  height: 265px;
}

#block-views-cuencas-block_1 .view-footer a {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;  
  background: none repeat scroll 0 0 #582A8A;
  color: white;
  float: right;
  margin-right: 10px;
  padding: 7px;
  text-decoration: none;
}

.view-cuencas .more-link {
  margin-right: 10px;
  margin-top: 5px;
}


#block-views-cuencas-block_2 .views-field-field-picture2-fid {
  margin-left: 15px;
}

#block-views-cuencas-block_2 .views-field-field-picture2-fid img {
  padding: 30px;
}

#block-views-cuencas-block_2 h2.title {
  margin-left: 15px;
}

.node-type-proyecto #block-views-proyectos-block_7 .views-field-field-picture-fid img {
  border: 0 none;
}


.node-type-proyecto #block-views-proyectos-block_7 .views-field-title a {
  margin-left: -330px;
  height:40px;
  padding:5px;
}

#block-views-proyectos-block_7 {
  text-aling:right;
}

#block-views-proyectos-block_8 {
  width: 370px;
  height: 260px;
}

#block-views-proyectos-block_7 h2.title {
  margin-right: 10px;
  text-align: right;
  padding-left: 0px;
}

#block-views-proyectos-block_7 .more-link {
  margin-right: 10px;
  margin-top:15px;
}

#block-views-proyectos-block_8 .more-link {
  margin-right: 0px;
  margin-top: 15px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
#block-views-proyectos-block_8 .more-link a {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  background: none repeat scroll 0 0 #582A8A;
  color: white;
  padding: 6px 17px;
  text-decoration: none;
  font-size:11px;
}

.page-quienes-somos .views-field-field-logo-fid {
  float:left;
}

.page-quienes-somos .views-field-title {
  margin-left:130px;
}
.page-quienes-somos .views-field-title a {
  text-decoration:none;
  color: black;
  font-weight:bold;
}
.page-quienes-somos .views-field-body {
  margin-left:130px;
}

.page-quienes-somos .views-field-field-related-institution-nid {
  margin-left:130px;
}

.page-quienes-somos .views-field-field-email-value {
  margin-left:130px;
}

.page-quienes-somos .view-display-id-page_4 .views-field-body {
  margin-left:0px;
}

.page-quienes-somos .view-proyectos .views-row {
  clear: both;
  display: block;
}

.page-quienes-somos ul.primary {
  padding: 0 0 0 0;
  background: none repeat scroll 0 0 transparent;
  
}

.page-quienes-somos ul.primary li.active a .tab, ul.primary li.active a:hover .tab, ul.primary li.active a:focus .tab {
  background:#582A8A;
  border: 3px solid #582A8A;
  color: white;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}

.page-quienes-somos ul.primary li.active a, ul.primary li.active a:hover, ul.primary li.active a:focus {
  background: url("../images/") no-repeat scroll left 0 transparent;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;  
}

.page-quienes-somos ul.primary li a .tab {
  border: 3px solid;
  background: none repeat scroll 0 0 #D6D6D6;
  color: #582A8A;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;  
}

.page-quienes-somos ul.primary li a {
  background: url("../images/") no-repeat scroll left -38px transparent;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;  
}

.page-quienes-somos #content-area .view-display-id-page_4 .view-content {
  background: none repeat scroll 0 0 #D6D6D6;
  border: 2px solid #582A8A;
  padding:20px;
  border-top: 3px solid #582A8A;
}
.page-quienes-somos #content-area .view-display-id-page_4 .views-field-field-picture-fid {
  float:left;
  margin-right:20px;
}

.page-quienes-somos #content-area .view-display-id-page_4 .views-field-field-picture-fid img {
  -moz-border-radius: 6px 6px 6px 6px;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 5px 5px 5px black;  
  border: 0 solid white;
}

.page-quienes-somos #content-area .view-display-id-page_5 .view-content {
  background: none repeat scroll 0 0 #D6D6D6;
  border: 2px solid #582A8A;
  padding:20px;
}

.page-quienes-somos #content-area .view-display-id-page_5 .views-row {
  background:white;
  padding:15px;
  height:40px;
/*  height:auto;*/  
}

.page-quienes-somos #content-area .view-display-id-page_5 .views-field-field-logo-fid {
  border: 1px solid #582A8A;
}

.page-quienes-somos #content-area .view-display-id-page_6 .view-content {
  background: none repeat scroll 0 0 #D6D6D6;
  border: 2px solid #582A8A;
  padding:20px;
}
.page-quienes-somos #content-area .view-display-id-page_6 .views-row {
  background:white;
  padding: 15px 15px 40px;
}


.page-quienes-somos #content-area .view-display-id-page_6 .views-field-field-picture-fid img{
  -moz-box-shadow: 5px 5px 5px gray;
  -webkit-box-shadow: 5px 5px 5px gray;  
  border: medium none;
}

.view-conocelosandes #views_slideshow_thumbnailhover_main_conocelosandes-block_1 {
  margin: 25px 10px 10px 400px;
  position: absolute;
  width: 400px;
}

.view-conocelosandes .view-content {
  background: url("../images/CONDOR-MONTES.gif") no-repeat scroll -15px 130px transparent;
  height: 270px;
}

.node-type-conocelosandes-story .region-content-bottom2 {
  margin-top: 20px;
}


.node-type-novedades .news_left img {
  border: 5px solid white;
  margin: 25px 30px 30px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}


#block-views-novedades_listado-block_1 .novedad_slideshow {
  -moz-border-radius: 0 0 11px 11px;
  -webkit-border-radius: 0 0 11px 11px;
  background: none repeat scroll 0 0 black;
  height: 60px;
  margin-left: 25px;
  margin-top: 210px;
  opacity: 0.8;
  filter: alpha(opacity=80);	l1283
  
  padding: 10px;
  position: absolute;
  width: 410px;
  filter: alpha(opacity=80);	
  
}

#block-views-novedades_listado-block_1 .novedad_slideshow .title_new a {
  color:white;
  text-decoration:none;
  font-size:14px;
  font-weight:bold;
  opacity: 1;
}

#block-views-novedades_listado-block_1 .novedad_slideshow .title_new {
  color:white;
  font-weight:bold;
  opacity:1;
}

#block-views-novedades_listado-block_1 .view-content {
background-color:#D6D6D6;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding-bottom:20px;
}

#views-slideshow-controls-bottom-header h2 {
float:right;
clear: both;
color:#582A8A;
}

#views-slideshow-controls-bottom-header,
#views_slideshow_thumbnailhover_breakout_teasers_novedades_listado-block_1 {
clear: both;
}


  
.view-novedades-listado .views-field-body .field-content p {
  margin: 0 0;
}

#logo img {
  opacity:0;
}

.region-header {
  margin-left:0px;
  padding-left:770px;
  margin-top: 20px;
  position: absolute;
  text-align: right;
}

#header .form-submit {
  background: url("../images/btn_buscar.png")no-repeat scroll 0 0 transparent;
  border: medium none;
  height: 29px;
  text-indent: -9999px;
  width: 21px;
}

#edit-search-block-form-1 {
  height: 15px;
  vertical-align: top;
  width: 150px;
}

#block-locale-0 ul li.active a {
  font-weight:bold;
}

.node-type-recursos .node {
  margin-bottom:20px;
}

.node-type-novedades .node {
  margin-bottom:20px;
}

.node-type-recursos .region-content-bottom2 {
  margin-top: auto;
}

.node-type-novedades .region-content-bottom2 {
  margin-top: auto;
}

#views_slideshow_thumbnailhover_breakout_teasers_novedades_listado-block_1 {
  margin-top:20px;
}

#block-menu-menu-menuproyectoscuencas ul li {
  padding: 15px 25px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  margin: 10px;
  padding: 15px;
}

#block-menu-menu-menuproyectoscuencas ul {
  margin: 40px 0 -10px;
}

.menu_redes {
  margin-left: 760px;
  margin-top: 90px;
  position: absolute;
  width: 202px;
}


.view-recursos-listado  .views-field-field-picture-fid {
 /* -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;*/
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;  
}


.view-recursos-listado .views-field-field-youtube-embed {
 /* -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;*/
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;  
}


/*********************************************************************************************/

#block-menu-menu-menuproyectoscuencas ul li {
  
   /* height: auto;*/
   height: 40px ;
   
    margin: 0;
    padding: 20px 0;
    text-align: center;
  width:auto;
}

#block-menu-menu-menuproyectoscuencas ul li.first {
margin-bottom:5px;
}

#cumulusflash {
    border: 3px solid #582A8A;
   
    margin-top: 8px;

    margin-left:0px;
 width:164px;
 /*  height: 150px;*/
  height:175px;
  
}

#block-block-2 .content {
  margin-left: 0px;
}

#block-menu-menu-menuproyectoscuencas ul.menu li a {
  font-size: 21px;
}

.region-sidebar-second {
  width: 190px;
}

.attachment .calendar-calendar {
  margin-top: 0;
}

#block-views-calendar-calendar_block_1 .calendar-calendar {
    background: none repeat scroll 0 0 #582A8A;
}

.page-recursos-andesbdc .view-recursos-listado .view-content .views-row {
margin-left:10px;
}

/*********/


.view-content .calendar-calendar .date-prev {
  /*padding: 5px 0;*/
}



#block-views-proyectos-block_10 .izquierda_best_recurso {
  float:left;
  width:150px;
}

#block-views-proyectos-block_10 .derecha_best_recurso {
    margin-left: 150px;
    margin-right: 25px;
}


#block-views-proyectos-block_10 .titulo_recurso a {
  color: black;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  font-weight: bold;
  text-decoration: none;
  font-size:12px;
}


.node-type-proyecto .region-content-bottom2 {
    margin-top: 20px;
}


.page-aliados .view-header {
  padding-top: 5px;
  /*line-height: 12px;*/
  line-height:15px;
  font-size: 12.5px;
  padding-bottom: 5px;
}

.page-colaboradores .view-header {
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  padding-top: 5px;
/*  line-height: 12px; */
  line-height: 15px;
  font-size: 12.5px;
  padding-bottom: 5px;
}


#block-views-recursos_listado-block_3 .view-recursos-listado .view-content .views-row .publicacion_recurso {
  background: url("../images/ico_publicacion.gif") no-repeat scroll 5px 0 transparent;
  padding-left: 30px;
  margin-right:5px;
}

#block-menu-menu-menuproyectoscuencas ul {
  margin: 20px 0 -10px;
}


.block ul {
  margin: 0;
  padding: 0;
}

.page-aliados #block-menu-menu-menuproyectoscuencas ul {
  margin: 35px 0 -10px;
}

.page-node-165 #block-menu-menu-menuproyectoscuencas ul {
  margin: 35px 0 -10px;
}

.page-colaboradores #block-menu-menu-menuproyectoscuencas ul {
  margin: 35px 0 -10px;
}


#block-views-novedades_listado-block_1 .views_slideshow_thumbnailhover_div_breakout_teaser {
padding-bottom:6px;
}


.page-colaboradores .views-field-field-picture-fid {
  -moz-box-shadow: 3px 3px 3px gray;
}

.node-type-conocelosandes-story #block-menu-menu-menuproyectoscuencas ul {
  margin: 30px 0 -10px;
}

.view-Investigadores-listado .views-row label {
  float: left;
}

.view-vista-rss .views-field-timestamp {
  font-size: 11px;
  font-weight: bold;
  margin-left:100px;
}

.page-novedades-andesbdc .view-vista-rss .views-row{
  margin-top: 5px;
}


.node-type-investigador .region-content-bottom2 {
  margin-top: 20px;
}


#block-views-novedades_listado-block_2 .view-novedades-listado .views-field-field-picture-fid {
  -moz-box-shadow: 0px 0px 0px ;
}

.region-content-bottom2 p {
  padding-left: 50px;
  padding-right: 50px;
}

.page-nuestras-cuencas #block-menu-menu-menuproyectoscuencas ul {
  margin: 30px 0 1em;
}

.page-nuestros-proyectos #block-menu-menu-menuproyectoscuencas ul {
  margin: 30px 0 1em;
}

.page-recursos-andesbdc #block-menu-menu-menuproyectoscuencas ul {
  margin: 30px 0 1em;
}
.page-novedades-andesbdc #block-menu-menu-menuproyectoscuencas ul {
  margin: 30px 0 1em;
}

#block-views-proyectos-block_3  h2.title {
  font-size:21px;
}

#block-views-proyectos-block_4 h2.title {
  font-size:21px;
}

#block-views-proyectos-block_1 h2.title {
  font-size:21px;
}

#block-views-proyectos-block_2 h2.title {
  font-size:21px;
}

#block-views-calendar-calendar_block_1 {
  margin-top:2px;
}

/***********************************************************************************/

.page-recursos-andesbdc .view-id-recursos_listado .views-field-field-youtube-embed {
  margin-left: -10px;
  z-index: 6;
}

.page-recursos-andesbdc .view-id-recursos_listado .views-field-field-picture-fid {
  z-index: 4;
}

.view-recursos-listado .views-field-field-youtube-embed img {
  border: 3px solid white;
  margin-bottom: -5px;
  margin-left: -1px;
  margin-right: 0;
}


.view-recursos-listado .views-field-field-youtube-embed img  {
 /* -moz-border-radius: 11px 11px 11px 11px;
  -moz-box-shadow: 5px 5px 5px black;*/
}

/****************************************************************************************/

.page-recursos-andesbdc .view-id-recursos_listado {
  padding-top: 10px;
}

.page-recursos-andesbdc .view-id-recursos_listado .views-field-body {
  font-size: 11px;
}

.page-recursos-andesbdc .view-id-vista_rss  {
  padding-top: 10px;
}

.view-vista-rss .views-field-title {
  background: url("../images/bullet2.png") no-repeat scroll 0 5px transparent;
  margin-left: 20px;
  padding-left: 25px;
  padding-right: 5px;
}

.view-vista-rss .views-field-timestamp {
  margin-left: 45px;
}

.view-vista-rss .views-field-description {
  margin-left: 45px;
}

.page-recursos-andesbdc .region-content-bottom2 {
  margin-top: 920px;
}


#block-views-calendar-calendar_block_1 {
  margin-top: -20px;
}

.calendar-calendar .mini {
 /* height: 25px;*/
 height:20px;
  vertical-align: middle;
}


#block-views-proyectos-block_8 .view-content {
  background: none repeat scroll 0 0 white;
  height: 220px;
  margin-left: 10px;
  width: 360px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius:11px 11px 11px 11px;
}

.page-quienes-somos ul.primary {
  margin-bottom: -2px;
}

.page-quienes-somos .region-content-bottom2 {
  margin-top: 20px;
}

.page-our-proyects2 .region-content-bottom2 {
  margin-top: 820px;
}

.page-our-proyects2 .view-proyectos .views-field-title a {
  color: black;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

.page-our-proyects2 .view-proyectos .views-row {
  clear: both;
  display: block;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  font-size: 11px;
  padding: 10px;
  text-align: left;
}

.page-our-watersheds2 .region-content-bottom2 {
  margin-top: 820px;
}

.page-our-watersheds2 .view-proyectos .views-field-body {
  font-size: 11px;
  padding-left: 140px;
  padding-right: 5px;
}

.page-our-watersheds2 .view-proyectos .views-field-title  {
  padding-left: 140px;
}

.page-our-watersheds2 .view-proyectos .views-field-title a {
  color: black;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  font-weight: bold;
  text-decoration: none;
  font-size:12px;
}

.page-our-watersheds2 .view-proyectos .views-row {
  clear: both;
  display: block;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  font-size: 11px;
  padding: 10px;
  text-align: left;
}


#cumulusflash {
  height: 150px;
}

#navigation li {
  float: none;
}

.node-type-conocelosandes-story .titulo_andes {
  color: #582A8A;
  position:absolute;
  font-size:28px;
  font-weight:bold;
  /*margin-top:-340px;*/
  margin-top:-300px;
}
  
.node-type-conocelosandes-story .section h1 {
  color: white;
}  

.node-type-proyecto .cuerpo_recurso {
  font-size:11px;
}

.page-listado-novedadesxproyecto .view-id-proyectos .col-1 {
  /*width:380px;*/
  width:355px;
  padding-right:20px;
  vertical-align:top;
  padding-top:10px;
}

.page-listado-novedadesxproyecto .view-id-proyectos .col-2 {
 /* width:380px;*/
  width:355px;
  padding-right:20px;
  vertical-align:top;
  padding-top:10px;
}

.page-listado-novedadesxproyecto .view-id-proyectos .views-field-created {
  font-size: 11px;
  font-weight: bold;
  padding-left: 130px;
}

.page-listado-novedadesxproyecto .views-field-title  {
  font-size: 12px;
  padding-left: 130px;
}
.page-listado-novedadesxproyecto .views-field-title a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.page-listado-novedadesxproyecto .views-field-body  {
  padding-left: 130px;
  padding-right: 5px;
  font-size:11px;
}   

.page-listado-novedadesxproyecto .view-proyectos {
  background:none repeat scroll 0 0 #D6D6D6;
}

.page-listado-novedadesxproyecto .section h1 {
  background:none repeat scroll 0 0 #D6D6D6;
  padding-left:20px;
}

.page-listado-novedadesxproyecto .region-content-bottom2 {
  margin-top: 20px;
}

#block-views-cuencas-block_1 .more-link a {
  padding: 7px;
}

.node-type-proyecto #block-menu-menu-menuproyectoscuencas ul {
  margin: 30px 0 -10px;
}

.page-aliados .view-aliados-listado .item-list {
  margin-left: 30px;
  width: 690px;
}

.page-aliados .view-aliados-listado .views-row-last {
  border-bottom: 0px solid #582A8A;
}

.page-quienes-somos ul.primary li {
  margin: 0 5px 0 -5px;
}

.page-listado-recursosxcuenca .view-cuencas .views-field-field-youtube-embed {
  /* width:100px; */
  float:left;
  position:absolute;
  margin-left:15px;
}

.page-listado-recursosxcuenca .view-cuencas .views-field-field-youtube-embed img {
  margin-bottom:-4px;
}

.page-listado-recursosxcuenca .views-field-field-picture-fid {
  margin-left: 15px;
  position: absolute;
}

.page-listado-recursosxcuenca .view-cuencas .col-1 {
  /*width:380px;*/
  width:355px;
}

.page-listado-recursosxcuenca .view-cuencas .col-2 {
  /*width:380px;*/
  width:355px;
}

.page-listado-recursosxcuenca .view-cuencas .views-field-title  {
  margin-left:150px;  
  font-size:11px;
  font-weight:bold;
}

.page-listado-recursosxcuenca .view-cuencas .views-field-body  {
  margin-left:150px;
  font-size:11px;
  font-weight:normal;
}

.page-listado-recursosxcuenca .views-view-grid tr {
  vertical-align:top;
}

.page-listado-recursosxcuenca .view-cuencas {
/*background:#D6D6D6;
border:2px solid #D6D6D6;
*/
  background: none repeat scroll 0 0 #D6D6D6;
  border-color: #D6D6D6 -moz-use-text-color -moz-use-text-color #D6D6D6;
  border-style: solid none none solid;
  border-width: 2px 20px 20px;
  border-bottom:5px solid #d6d6d6;
}

.page-listado-recursosxcuenca .view-cuencas .views-view-grid {
  border: 2px solid #582A8A;
}

.page-listado-novedadesxcuenca .view-cuencas {
/*background:#D6D6D6;
border:2px solid #D6D6D6;
*/
  background: none repeat scroll 0 0 #D6D6D6;
  border-color: #D6D6D6 -moz-use-text-color -moz-use-text-color #D6D6D6;
  border-style: solid none none solid;
  border-left:20px solid #d6d6d6;
  border-right:20px solid #d6d6d6;
  border-bottom:5px solid #d6d6d6;
  border-bottom:5px solid #d6d6d6;
}

.page-listado-novedadesxcuenca .view-cuencas .views-view-grid {
  border: 2px solid #582A8A;
}

.page-listado-novedadesxcuenca .views-view-grid tr {
  vertical-align:top;
}

.page-listado-novedadesxcuenca .view-cuencas .col-1 {
  /*width:380px;*/
  width:355px;
  padding-top:10px;
}

.page-listado-novedadesxcuenca .view-cuencas .col-2 {
  /*width:380px;*/
  width:355px;
  padding-top:10px;
  
}

.page-listado-novedadesxcuenca .view-cuencas .views-field-title  {
  margin-left:130px;  
  font-size:11px;
  font-weight:bold;
}

.page-listado-novedadesxcuenca .view-cuencas .views-field-body  {
  margin-left:130px;
  font-size:11px;
  font-weight:normal;
}

.page-listado-novedadesxcuenca  .view-cuencas .views-field-field-picture-fid {
  border: 2px solid white;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  -moz-box-shadow: 0px 0px 0px black;
}

.page-listado-novedadesxproyecto .view-id-proyectos{
  background: none repeat scroll 0 0 #D6D6D6;
  border-bottom: 5px solid #D6D6D6;
  border-color: #D6D6D6;
  border-left: 20px solid #D6D6D6;
  border-right: 20px solid #D6D6D6;
  border-style: solid;
}

.page-listado-novedadesxproyecto .view-id-proyectos .views-view-grid {
  border: 2px solid #582A8A;
}

.page-listado-novedadesxproyecto .view-proyectos .views-field-field-picture-fid img {
  margin: 0 10px 10px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
}

.page-listado-recursosxproyecto .view-proyectos .views-field-field-picture-fid img {
  margin: 0 10px 10px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
}

.page-listado-recursosxproyecto .view-id-proyectos{
  background: none repeat scroll 0 0 #D6D6D6;
 /* border-bottom: 5px solid #D6D6D6;*/
  border-bottom:20px solid #D6D6D6;
  border-color: #D6D6D6;
  border-left: 20px solid #D6D6D6;
  border-right: 20px solid #D6D6D6;
  border-style: solid;
}

.page-listado-recursosxproyecto .view-proyectos .views-view-grid {
  border: 2px solid #582A8A;
}

.page-listado-recursosxproyecto .views-view-grid tr {
  vertical-align:top;
}

.page-listado-recursosxproyecto .view-proyectos .col-1 {
  /*width:380px;*/
  width:355px;
  padding-top:10px;
  padding-right:10px;
}

.page-listado-recursosxproyecto .view-proyectos .col-2 {
  /*width:380px;*/
  width:355px;
  padding-right:10px;
  padding-top:10px;
}

.page-listado-recursosxproyecto .view-proyectos .views-field-title  {
  margin-left:150px;  
  font-size:11px;
  font-weight:bold;
}

.page-listado-recursosxproyecto .view-proyectos .views-field-title a  {
  text-decoration:none;
  color: black;
  font-weight:bold;
}

.page-listado-recursosxproyecto .view-proyectos .views-field-body  {
  margin-left:150px;
  font-size:11px;
  font-weight:normal;
}

#block-views-proyectos-block_10 .more-link {
  text-align:right;
  margin-right:20px;
  
}

#block-views-proyectos-block_10 .more-link a {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 #582A8A;
  color: white;
  padding: 6px 17px;
  text-decoration:none;
  font-size:11px;
}

.page-listado-recursosxcuenca .view-cuencas .row-first .col-1 {
  padding-top:20px;
}
.page-listado-recursosxcuenca .view-cuencas .row-first .col-2 {
  padding-top:20px;
}
.page-listado-recursosxcuenca .view-cuencas .row-last .col-1 {
  padding-bottom:20px;
}
.page-listado-recursosxcuenca .view-cuencas .row-last .col-2 {
  padding-bottom:20px;
}

.page-listado-recursosxcuenca .views-field-field-picture-fid {
  -moz-border-radius: 11px 11px 11px 11px;
  -moz-box-shadow: 0 0 0 black;
  border: 2px solid white;
}

.page-listado-recursosxcuenca .views-field-field-youtube-embed {
  border: 2px solid white;
}

.page-quienes-somos #content-area .view-display-id-page_5 .views-row {
  height: auto;
}


.node-type-proyecto .section h1 {
  border-bottom: 2px solid white;
  background:#d6d6d6;
}

.page-quienes-somos #content-area .view-display-id-page_4 .views-field-field-picture-fid img {
  -moz-border-radius: 11px 11px 11px 11px;
  -moz-box-shadow: 0px 0px 0px black;
  -webkit-border-radius: 11px 11px 11px 11px;
  -webkit-box-shadow: 0px 0px 0px black;  
  border:2px solid white;
    
}

.page-quienes-somos #content-area .view-display-id-page_4 .views-field-field-picture-fid {
  margin-bottom: 10px;
}

.page-listado-recursosxproyecto .region-content-bottom2 {
    margin-top: 20px;
}


ul, ol, dl, pre, table, fieldset {
    margin: 0;
}


.page-listado-recursosxproyecto .section h1 {
    background:#d6d6d6;
    padding-left: 20px;
}

.page-quienes-somos .views-field-body {
font-size:12px;

}


.page-quienes-somos #content-area .view-display-id-page_5 .views-row {
  height: 80px;
}




.view-Investigadores-listado .views-row label {
  float: none;
}


.view-Investigadores-listado .views-field-field-related-institution-nid label {
float:left;
}

.page-quienes-somos ul.menu a.active {
    -moz-border-radius: 5px 5px 0 0;
}


.page-quienes-somos .views-field-field-related-institution-nid {
font-size:12px;
}

.page-quienes-somos .views-field-field-email-value {
font-size:12px;
}

.view-content .calendar-calendar .date-heading h3 {
    color: white;
    font-size:24px;
    
}

.section-calendar .region-content-bottom2 {
    margin-top: 20px;
}


.section-calendar .calendar-calendar div.date-nav {
padding:0;
}



.node-type-conocelosandes-story {
font-size:12px;
}



.view-content .calendar-calendar .date-next {
  top: 8px;
}

.view-content .calendar-calendar .date-prev {
  top: 8px;
}

#block-views-calendar-calendar_block_1 .calendar-calendar a {
    font-size: 16px;
}

















