
html {
  background-color: white;
  font-family: trebuchet MS;
}

#header {
  height: 136px; 
  
  background: url("../images/banner.png") no-repeat scroll 0 0 ;

}

#header .form-submit {
  height: 21px;
  width:  21px;
  background: url("../images/btn_buscar.png") no-repeat scroll 0 0 ;
  border: none;
  text-indent: -9999px;
}

#site-name a:link, #site-name a:visited {
  color: #52A8A;
  font-family: trebuchet MS;
  text-align: left;
  text-decoration: none;
  color:#582A8A;
}

#edit-search-theme-form-1 {
  color: gray;
  font-style: normal;
}

#header .section #left-header {
  float:left;
}

#header .section #right-header {
  float:left;
  margin-left: 9em;
  margin-top: 3.4em;
  position: relative;
}

#name-and-slogan {
  font-size:15pt;

  
}

#right-header {
  float: left;
  margin-left: 9em;
  margin-top: 3.4em;
}

#main-wrapper .breadcrumb a {
  text-decoration: none;
}

#navigation {
  background-color: #52A8A;	

}

#navigation #main-menu {

  background-color: #582A8A;
  display: inline;
  padding-bottom: 10px;
  padding-top: 7px;
  float:left;
}

#search {
  float: right;
  padding-right: 50px;

}

#search input.form-text {
  font-size: 10px;
  margin-top: 5px;
}

#navigation #main-menu a {
  text-decoration: none;
  color: white;
}

#navigation #main-menu a.active {
  font-weight: bold;
}

#navigation .section {
  background-color: #582A8A;
}

#main-menu .menu-2188 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;

}
#main-menu .menu-2187 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;
  padding-right:20px;
}
#main-menu .menu-2189 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;
  padding-right:20px;
}

#main-menu .menu-2357 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;
  padding-right:20px;
}

#main-menu .menu-1096 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;
  padding-right:20px;
}

#main-menu .menu-2466 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;
  padding-right:20px;
}

#main-menu .menu-1095 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;
  padding-right:20px;
}

#main-menu .menu-1094 a {

  padding-left: 20px;
  padding-right:20px;
}

#main-menu .menu-2415 a {
   background: url("../images/sobre.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 21px;
    text-indent: -9999px;
    width: 21px;

/*
background: url("../images/sobre.png") no-repeat scroll 0 0 transparent;
    height: 21px;
    text-indent: -9999px;
    width: 16px;
    
    */
}

.view-instituciones-logos .item-list ul {
 margin: 5px 5px 0;
    text-align: center;

}

.view-instituciones-logos .item-list ul li {
   display: -moz-inline-grid;
  
  /*float:left;*/
  list-style: none;
  padding:10px;

}

.pane-menu-menu-proyectos .menu li {
  float:left;
  padding:10px 3px;
  list-style:none;
  border: 1px solid #CCCCCC;
  margin:2px;
}

.pane-menu-menu-proyectos .menu li a {
  text-decoration:none;
  font-weight:bold;
}

.view-Investigadores-listado .views-field-field-picture-fid {
  float:left;
  padding:10px;
  color:black;
}

.view-Investigadores-listado .views-row label {
  font-weight:bold;
  color:black;
}

.view-Investigadores-listado .views-field-title{
  padding-left:120px;
}

.view-Investigadores-listado .views-field-title a{
  text-decoration:none;
  font-weight:bold;
  color:black;
  font-size:9pt;
}

.view-Investigadores-listado .views-field-body{
  padding-left:120px;
}

.view-Investigadores-listado .views-row {
  padding-bottom: 20px;
  color:black;
  font-size:7pt;
  display:table;
}

.view-Investigadores-listado .views-field-field-email-value {
  padding-left:120px;
}

.view-Investigadores-listado .views-field-field-related-institution-nid {
  padding-left:120px;
  padding-bottom:5px;
}

.view-Investigadores-listado .views-label-field-related-institution-nid{
  float:left;
  padding-right:5px;
}

.view-aliados-listado .views-row {
  padding-bottom: 20px;
  padding-left:20px;
  color:black;
  font-size:7pt;
  display:table;
}

.view-aliados-listado .views-row .views-field-field-related-institution-nid{
  display:inline;
  float:left;
}

.view-aliados-listado .views-field-field-logo-fid {
  float:left;
}


#block-menu-menu-proyectos h2{
  color:#582A8A;
  padding-top:10px;
}

#block-menu-menu-proyectos ul {
  display:-moz-grid-line;
}

.page-views #block-menu-menu-proyectos ul {
  display:block;
}

#block-menu-menu-proyectos li{
  list-style:none;
  text-align:center;
  padding:10px;
  margin:2px;
  border: 1px solid #CCCCCC;
  background:#582A8A;
  -moz-border-radius: 5px 5px 5px 5px;
}

#block-menu-menu-proyectos {
  display:block;
}

#block-menu-menu-proyectos a{
  list-style:none;
  text-align:center;
  text-decoration:none;
  color:white;
  font-weight:bold;
}

#block-views-recursos_listado-block_1 {
  display:block;
}

#views_slideshow_thumbnailhover_teaser_section_novedades_listado-page_2 {
  float:left;
}

#views_slideshow_thumbnailhover_teaser_section_novedades_listado-page_2 .views-field-field-picture-fid {
position:absolute;
}

#block-views-novedades_listado-block_1 .view-novedades-listado .views-content-field-picture-fid img {
  -moz-border-radius: 10px 10px 10px 10px;
  position:absolute;
  margin-left:10px
}

#views_slideshow_thumbnailhover_teaser_section_novedades_listado-page_2 .views-field-title {
  background:#000000;
  position:absolute;
  margin-top:200px;
}

#views_slideshow_thumbnailhover_teaser_section_novedades_listado-page_2 .views-field-title a {
  color:#fff;
  position: absolute;
  width:390px;
  font-weight:bold;
  font-family: trebuchet MS;
  text-decoration:none;
}

#views_slideshow_thumbnailhover_main_novedades_listado-block_1 .views-field-title a {
  background: none repeat scroll 0 0 black;
  color: #FFFFFF;
  font-family: trebuchet MS;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 204px;
  position: absolute;
  text-decoration: none;
  width: 430px;
  opacity:0.555;
}

#views_slideshow_thumbnailhover_main_novedades_listado-block_1 .views-field-body {
 -moz-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 0px 0px 15px 15px;
  background: none repeat scroll 0 0 black;
  color: #FFFFFF;
  font-family: trebuchet MS;
  font-size: 9pt;
  margin-left: 10px;
  margin-top: 222px;
  position: absolute;
  width: 430px;
  opacity:0.555;
}
  

#views_slideshow_thumbnailhover_teaser_section_novedades_listado-page_2 .views-field-body {
  color: #FFFFFF;
  margin-top: 210px;
  position: absolute;
  width: 432px;
  font-family: trebuchet MS;
}

.views-slideshow-controls-bottom {
  display:inline-block;
}

.block-views-novedades_listado-block_1 .views-content-title {
  font-size:9pt;
  font-family:trebuchet MS;
  padding-left:120px;
}

.block-views-novedades_listado-block_1 a {
  font-size:9pt;
  font-family:trebuchet MS;
}



#block-views-novedades_listado-block_1 {
  width:700px;
  background: none repeat scroll 0 0 #D6D6D6;
}

#block-views-novedades_listado-block_1 h2.title {
  color:#582A8A;
  padding-left:550px;
  background: none repeat scroll 0 0 #D6D6D6;
  margin-top:15px;
}


#views_slideshow_thumbnailhover_teaser_section_novedades_listado-block_1{
  float:left;
  width:430px;
}


#views_slideshow_thumbnailhover_breakout_teasers_novedades_listado-block_1{
  width:400px;
  margin-left:432px;
}

.view-novedades-listado .views_slideshow_thumbnailhover_slide .views-field-title  a{
color: black;
font-size: 8pt;
font-weight: bold;
font-family:trebuchet MS;
}
.view-novedades-listado .views_slideshow_thumbnailhover_breakout_teasers .views-field-title a {
  color: black;
  font-size: 8pt;
  font-weight: bold;
  line-height: 36pt;
  padding-left: 40px;
  text-decoration: none;
  font-family:trebuchet MS;
  background: url("../images/flecha2.jpg")no-repeat scroll 20px 0 transparent; 
}

#block-views-novedades_listado-block_1 .view-novedades-listado {
  height:310px;
}

#block-views-novedades_listado-block_1 .view-novedades-listado .views_slideshow_thumbnailhover_breakout_teasers .views-field-title {
  width:260px;
}

.view-novedades-listado .views-field-body {
  font-family:trebuchet MS;
  color:black;
}

.more-link {
  margin-top:20px;
  margin-right:50px;
}














.view-novedades-listado .more-link a{
font-weight:bold;
text-decoration:none;
background-color:#582A8A;
color:#fff;
padding:8px 8px 8px 8px;
-moz-border-radius: 5px 5px 5px 5px;
}

.view-recursos-listado .more-link a {
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: #582A8A;
    color: #FFFFFF;
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
}


#block-menu-menu-mquienessomos ul {
/*background: url("../images/tab-bar.png") repeat-x scroll left bottom transparent;*/
border-bottom: 1px inset #582A8A;
}


#block-menu-menu-mquienessomos li {
display: inline;
list-style: none outside none;


}

#block-menu-menu-mquienessomos ul.menu a {
text-decoration:none;
color:#582A8A;
float:letf;
 padding-left: 8px;
 padding-right: 8px;
 padding-top: 8px;
-moz-border-radius: 5px 5px 0 0;
background: none repeat scroll 0 0 #D6D6D6;

}
#block-menu-menu-mquienessomos ul.menu a.active {
color:#fff;
background: none repeat scroll 0 0 #582A8A;
 padding-left: 8px;
 padding-right: 8px;
 padding-top: 8px;
-moz-border-radius: 5px 5px 0 0;

}

/*
.section-aliados #content-area {
border-left: 1px inset #582A8A;
border-right: 1px inset #582A8A;
border-bottom: 1px inset #582A8A;

}
*/

.view-aliados-listado .views-field-title  {
color:black;
font-weight:bold;
padding-left:80px;

}

.view-aliados-listado .views-field-field-logo-fid {
margin:6px 6px 6px 6px;

}

.view-aliados-listado .views-field-body {
padding-left:80px;
}

.view-aliados-listado .views-field-field-url-value {
padding-left:80px;
}

.page-aliados .region-content-bottom #block-views-instituciones_logos-block_2 .view-id-instituciones_logos {
padding-left:120px;
}

.section-investigadores .region-highlight ul.primary li a .tab {
font-weight:bold;
}
.section-investigadores .region-highlight ul.primary li a{
font-weight:normal;
}



#footer-message {
width:550px;

/*
margin-left:200px;*/
margin-left:100px;
margin-right:200px;
text-align:center;
font-size:10px;
}

.page-recursos-andesbdc .view-id-recursos_listado {
width:350px;
background: none repeat scroll 0 0 #D6D6D6;
-moz-border-radius: 5px 5px 0 0;
}

.page-recursos-andesbdc .view-id-recursos_listado  .views-row {
display:table;
padding-bottom:10px;
}

.page-recursos-andesbdc .view-id-recursos_listado .views-field-field-picture-fid {
float:left;
padding-right:10px;
}


.page-recursos-andesbdc .view-id-recursos_listado .views-field-title {
padding-left:100px;
}
.page-recursos-andesbdc .view-id-recursos_listado .views-field-title a{
color:black;
font-weight:bold;
text-decoration:none;
}

.page-recursos-andesbdc .view-id-recursos_listado .views-field-body {
padding-left:100px;
color:black;
}

.page-recursos-andesbdc .view-id-recursos_listado .more-link a{
font-weight:bold;
text-decoration:none;
background-color:#582A8A;
color:#fff;
padding:8px 8px 8px 8px;
-moz-border-radius: 5px 5px 5px 5px;
}
/*
 proyecto an1 -->color #770099
  proyecto de coordinacion  #a1006a
  agua y andes   #220090
  compandes   #990036

 naranja  #f37021  
verde  #1bb045
azul #2875d5
hueso  #ede6d5
marron #835e48
celeste #c9e0fd
gris claro #e5e5e5
*/


#views_slideshow_thumbnailhover_main_recursos_listado-block_1 {
width: 400px;
float:left;

}

#views_slideshow_thumbnailhover_main_recursos_listado-block_1 .views-content-field-picture-fid{
float:left;
padding-right:10px;
}

#views_slideshow_thumbnailhover_main_recursos_listado-block_1 .views-content-body{
margin-left:90px;
}


#views_slideshow_thumbnailhover_breakout_teasers_recursos_listado-block_1 {
width:300px;
}

#views_slideshow_thumbnailhover_breakout_teasers_recursos_listado-block_1 .views-field-title a {
line-height:34pt;
}

.view-recursos-listado .views-field-title a {
text-decoration:none;
font-weight:bold;
color:black;

}

.views_slideshow_thumbnailhover_teaser_section_recursos_listado-block_1 .view-recursos-listado .views-field-title a {
background: url("../images/f.jpg") no-repeat scroll 10px 0 transparent;
}

#block-views-recursos_listado-block_3 .view-recursos-listado .views-field-title a {

background: url("../images/flecha2.jpg") no-repeat scroll 10px 0 transparent;
padding-left:30px;
}
#block-views-recursos_listado-block_1 h2.title {
color:#582A8A;
padding-left:550px;
background: none repeat scroll 0 0 #D6D6D6;
}

#block-views-recursos_listado-block_1 {
width:700px; 
}

.view-recursos-listado {
font-size:9pt;
color:black;
font-family:trebuchet MS;
background: none repeat scroll 0 0 #D6D6D6;
height:250px;

}


.view-recursos-listado .view-content .views-row {

padding-top:15px;
padding-bottom:15px;

}

#block-views-recursos_listado-block_3 h2.title {
color:#582A8A;
/*
padding-left:230px;*/

padding-left:20px;
}

#block-views-recursos_listado-block_3 {
  width:350px;
  height:160px;
  background: none repeat scroll 0 0 #D6D6D6;
}

.page-panels #block-menu-menu-proyectos {
  width:700px;
}
.region-sidebar-second #block-menu-menu-proyectos h2 {
  padding-left:55px;
}




.page-recursos-andesbdc .region-content-bottom {
 /* display: -moz-grid-line;*/
}

.section h1 {
color:#582A8A;
font-family: trebuchet MS;
}










.view-novedades-listado .views-field-field-picture-fid {

float:left;
}


.view-novedades-listado   {
  color: black;
    font-family: trebuchet MS;
    font-size: 9pt;
}

.view-novedades-listado .views-row  {
clear:bold;
display:block;


}

.page-novedades-andesbdc .view-novedades-listado .views-field-title {
    padding-left: 100px;
}
.page-novedades-andesbdc .view-novedades-listado .views-field-title a{
text-decoration:none;
    color: black;
    font-weight:bold;
}

.page-novedades-andesbdc .view-novedades-listado .views-field-body {

    padding-left: 100px;
}




.page-novedades-andesbdc .view-novedades-listado .views-row {
 clear: both;
    display: block;
}


#block-views-vista_rss-block_2 .views-field-description a{
text-decoration:none;
color:black;
}

.calendar-calendar th a, .attachment .calendar-calendar th {
  background-color:#D6D6D6;
  color:black;
  border: 0 none;
}

.view-content .calendar-calendar .date-heading h3 a{
  color:#fff;
  line-height:0px;
  font-size:20px;
 }
  
.view-content .calendar-calendar .date-nav a:hover {
  text-decoration:none;
} 
 
.view-content .calendar-calendar .date-heading {
  Background-color:#582A8A;
}


.view-content .calendar-calendar .date-prev {
  background:none;
  padding:7px 0px;
}
.view-content .calendar-calendar .date-next {
  background:none;
  padding:7px 0px;
}
.view-content .calendar-calendar .date-prev a{
  color:#fff;
}
.view-content .calendar-calendar .date-next a{
  color:#fff;
}


.calendar-calendar td.today {
  color: black;
  Background-color:#582A8A;
}

.calendar-calendar td {
  color: black;
}

/*
#block-aggregator-feed-1 h2.title {
  background:#582A8A;
  color:white;
  font-family: trebuchet MS;
  padding-left:235;
}


#block-aggregator-feed-2 {
  background:#D6D6D6;
  width:350px;
  margin-left:10px;

}

#block-aggregator-feed-2 h2.title {
  background:#582A8A;
  color:white;
  font-family: trebuchet MS;
  padding-left:235;
}




#block-aggregator-feed-1 {
 background:#D6D6D6;
  width:350px;
  margin-left:10px;

}
*/
 
 .view-vista-rss .views-field-title {
  margin-left:100px;
  padding-bottom:10px;
 }
.view-vista-rss .views-field-title a {
  text-decoration:none;
  color:black;
  font-family: trebuchet MS;
  font-size: 9pt;
  font-weight:bold;
}
 
.view-vista-rss .views-field-description {
 text-decoration:none;
 color:black;
 font-family: trebuchet MS;
 font-size: 9pt;
 margin-left:100px;
 padding-bottom:10px;
 padding-right:5px;
}


 
/*#block-views-vista_rss-block_1*/
.view-vista-rss .pager {
  font-family: trebuchet MS;
  font-size:9pt;
}
/*
#block-views-vista_rss-block_2 
*/
.view-vista-rss.pager {
  font-family: trebuchet MS;
  font-size:9pt;
}


#block-menu-menu-menuproyectoscuencas ul {
    margin: 1em 0;
    padding: 0 0 0 0;
}


#block-menu-menu-menuproyectoscuencas ul li {
list-style:none;
display :block;
clear:both;
text-align:center;


  -moz-border-radius: 11px 11px 11px 11px;
    background: none repeat scroll 0 0 #ffffff;
    border: 3px solid #CCCCCC;
    list-style: none outside none;
    margin: 5px;
    padding: 10px;
    border-color:#582A8A;


}



#block-menu-menu-menuproyectoscuencas ul.menu li a{

text-decoration:none;
color:#582A8A;
font-weight:bold;
font-size:20px;
}

/*
.panels-flexible-region-home-region_home_bottom{
border: 1px solid #582A8A;

}
*/


/********************************************************************************************************************************/
#views_slideshow_thumbnailhover_main_novedades_listado2-page_2  .views-content-title {

Background-color:black;
opacity:0.555;

  margin-top: -40px;
    position: absolute;
    width:432px;
}

#views_slideshow_thumbnailhover_main_novedades_listado2-page_2 {
width:432px;
float:left;
position:relative;

}
#views_slideshow_thumbnailhover_main_novedades_listado2-page_2  .views-content-title a {
color:white;
text-decoration:none;
font-weight:bold;

}
.view-novedades-listado2 .views-content-body  {
color:white;
Background-color:black;
opacity:0.555;
 width:432px;

  margin-top: -20px;
    position: absolute;

}
.node {
font-family:trebuchet MS;
}

.node-type-novedades .field-field-picture {
margin-right:20px;
}

.node-type-novedades .news_right .titulo_news {
font-weight: bold;
text-align: left;	
padding-left: 380px;
font-size: 23px;
padding-top:25px;
font-family:trebuchet MS;
}

.node-type-novedades .news_right .field-field-date {
	text-align: right;
}



.node-type-novedades .news_right .field-field-related-autor .field-label {
	float:left; 
	text-align: right;
}
	
.node-type-novedades .news_right .field-field-related-autor {
	text-align: right;
}	

.node-type-novedades .news_right .field-field-date {
  font-weight:bold;
  
}

.node-type-novedades .news_right .field-field-related-autor a {
text-decoration:none;
color:black;
font-weight:bold;
}

.node-type-novedades .news_right .body_news{
	text-align: left;
  margin-left:30px;
}	

ul.inline {

float:left;

}



.node-type-novedades .Enlaces .linkvolver {

float:right;
padding-right:20px;
padding-bottom:20px;

} 


#footer .section {

margin-top:40px;

}

.linkvolver a.volver {
  text-decoration:none;
  color:black;
  font-weight:bold;
}

.node-type-novedades .news_right {
  background:#D6D6D6;
  padding-right:20px;
}

.node-type-novedades .node{
  background:#D6D6D6;
}

.node-type-novedades .news_left img {
  width:355px;

float: left;	
padding-left: 30px;
padding-right: 30px;
padding-top: 30px;

/*
font-size: 11px;
    line-height: 7pt;*/
}

.node-type-novedades .news_left p {
  background: none repeat scroll 0 0 black;
  color: white;
  font-size: 11px;
  line-height: 7pt;
  margin-left: 30px;
  margin-top: 245px;
  opacity: 0.5;
  padding: 10px 10px 12px;
  position: absolute;
  width: 335px;
}




/* ********************************************************************** */
.page-novedades-andesbdc .region-content-bottom {
  /*  display: -moz-grid-line;*/
}


#block-views-recursos_listado-block_2 {
  width:370px;
  float:left;
  background: none repeat scroll 0 0 #D6D6D6;
  height:900px;
}

#block-views-recursos_listado-block_2 h2.title {
  background:#582A8A;
  color:white;
  font-family: trebuchet MS;
  padding-left:235;
}


#block-views-novedades_listado-block_2 h2.title {
  background:#582A8A;
  color:white;
  font-family: trebuchet MS;
  padding-left:235;
}

 #block-views-vista_rss-block_1{
background:#D6D6D6;
  width:370px;
  margin-left:10px;
  float:right;
}
 
#block-views-novedades_listado-block_2 {
/* width:350px;*/
  width:370px;
  float:left;
  background:#D6D6D6;
}

#block-views-vista_rss-block_2 {
background:#D6D6D6;
  /*width:350px;
  margin-left:10px;
*/
width:370px;
margin-left:20px;
float:right;
}



#block-views-vista_rss-block_2 h2.title {
  background:#582A8A;
  color:white;
  font-family: trebuchet MS;
  padding-left:280;
}


#block-views-vista_rss-block_1 h2.title {
  background:#582A8A;
  color:white;
  font-family: trebuchet MS;
  padding-left:280;
}

/*
#header {
display:block;
clear:both;
}*/

/*
#block-search-0 {
position:absolute;
margin-top:20px;
float: left;
}
*/
.menu_redes {
  margin-left: 750px;
  /*
    margin-top: 36px;*/
    margin-top:90px;
    position: absolute;
    width: 205px;

}

.menu_redes ul.menu li a {

   background: url("../images/general.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 18px;
    margin: 4px 11px 4px 0;
    text-indent: -9999px;
    width: 18px;
  
  
}




.menu_redes ul.menu li.rss a {

 background-position: 0px -131px;
}

.menu_redes ul.menu li.facebook a {
 background-position: -18px -131px;
}

.menu_redes ul.menu li.twitter a {
 background-position: -36px -131px;
}

.menu_redes ul.menu li.youtube a {
 background-position: -55px -131px;
}

.menu_redes ul.menu li.flickr a{
/* background-position: -55px -131px;*/
 background: url("../images/flickr.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 18px;
    margin: 4px 11px 4px 0;
    text-indent: -9999px;
    width: 18px;

}

.menu_redes ul.menu li.zzzz a {
/* background-position: -55px -131px;*/
 background: url("../images/redes6.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 18px;
    margin: 4px 11px 4px 0;
    text-indent: -9999px;
    width: 18px;
}



.region-header {

float:right;
margin-left: 770px;
    position: absolute;
    margin-top:20px;
}

.region-header ul.menu li {
float:left;
display : inline-block;

}


.menu_redes {
  /*float:right;*/

}


.menu_redes ul.menu li {
float:left;
display : inline-block;
}


.node-type-investigador .field-field-picture {
float:left;
padding-right: 10px;
}
.node-type-investigador .field-field-name{
float:left;
padding-right: 6px;
font-weight:bold;
font-size:17px;
}
.node-type-investigador .field-field-lastname{
font-weight:bold;
font-size:17px

}

.node-type-investigador p {
margin-left:150px;

}

.node-type-investigador .field-field-related-institution {
margin-left:150px;

}

.node-type-investigador .field-field-related-institution a {
text-decoration:none;
color:black;
}

.node-type-investigador .field-field-related-institution .field-label {
float:left;
}
.node-type-investigador .field-field-email .field-label {
float:left;
}
.node-type-investigador .field-field-file .field-label {
float:left;
}

.node-type-investigador .field-field-url .field-label {
float:left;
}

.node-type-investigador .field-field-email {
margin-left:150px;

padding-top:5px;
padding-bottom:5px;

}
.node-type-investigador .field-field-url{
margin-left:150px;

padding-top:5px;
padding-bottom:5px;
}
.node-type-investigador .field-field-file{
margin-left:150px;

padding-top:5px;
padding-bottom:5px;
}

.node-type-investigador .field-field-file a{
text-decoration:none;
color:black;
}
.node-type-investigador .field-field-related-recursos{
margin-left:150px;
}

.node-type-investigador .field-field-related-recursos .field-items{
list-style: disc outside none;
}
.node-type-investigador .field-field-related-recursos .field-items a{
text-decoration:none;
color:black;
padding-left:24px;

}

.node-type-investigador .field-field-related-recursos .field-item{
background:url("../images/bullet.png") no-repeat scroll 10px 7px transparent;
}

#block-views-proyectos-block_1 {
width: 370px;
 background: none repeat scroll 0 0 #D6D6D6;
margin-right:10px;
height:800px;
 float:left;

}
#block-views-proyectos-block_2 {
width: 370px;
height:800px;
 background: none repeat scroll 0 0 #D6D6D6;
 float:right;
}


#block-views-proyectos-block_1 h2.title {
    background: none repeat scroll 0 0 #582A8A;
    color: white;
    font-family: trebuchet MS;
     padding-left: 200px;
}
#block-views-proyectos-block_2 h2.title {
    background: none repeat scroll 0 0 #582A8A;
    color: white;
    font-family: trebuchet MS;
     padding-left: 220px;
}

#block-views-proyectos-block_1 .views-field-body {
margin-left:100px;
}

#block-views-proyectos-block_1 .views-field-field-picture-fid {
padding-right:10px;
}

#block-views-proyectos-block_2 .views-field-field-picture-fid {
padding-right:10px;
}



#block-views-proyectos-block_2 .views-field-body {
margin-left:100px;
}

.page-nuestros-proyectos  .region-content-bottom {
  /*  display: -moz-grid-line;*/
}

.page-nuestras-cuencas  .region-content-bottom {
  /*  display: -moz-grid-line;*/
}



.page-nuestros-proyectos .view-proyectos .views-row {
    clear: both;
    display: block;
   font-family: trebuchet MS;
}


.page-nuestros-proyectos .view-proyectos .views-field-field-picture-fid {

float:left;
}


.page-nuestros-proyectos .view-proyectos .views-field-title a {
    color: black;
    font-weight: bold;
    text-decoration: none;
       font-family: trebuchet MS;

}

.page-nuestras-cuencas .view-proyectos .views-row {
    clear: both;
    display: block;
     font-family: trebuchet MS;
     margin-top:5px;
}

.page-nuestras-cuencas  .view-proyectos .views-field-field-picture-fid {
float:left;
}

.view-proyectos .views-field-field-picture-fid img {
/*border: 5px solid #ffffff;*/
/*-moz-border-radius: 11px 11px 11px 11px;*/
padding-right:5px;
padding-left:5px;
float:left;
}

.page-novedades-andesbdc .view-novedades-listado .views-field-field-picture-fid img {
border: 5px solid #ffffff;
-moz-border-radius: 11px 11px 11px 11px;
}

.view-recursos-listado .views-field-field-picture-fid img {
 -moz-border-radius: 20px 20px 20px 20px;
    border: 3px solid #FFFFFF;
    margin-left: 5px;
}

.page-nuestras-cuencas  .view-proyectos .views-field-title a {
    color: black;
    font-weight: bold;
    text-decoration: none;
       font-family: trebuchet MS;
}



#block-views-proyectos-block_3 {
width: 370px;
 background: none repeat scroll 0 0 #D6D6D6;
margin-right:10px;
height:800px;
float:left;
}
#block-views-proyectos-block_4 {
width: 370px;
height:800px;
 background: none repeat scroll 0 0 #D6D6D6;
 
 float:right;
}


#block-views-proyectos-block_3 h2.title {
    background: none repeat scroll 0 0 #582A8A;
    color: white;
    font-family: trebuchet MS;
     padding-left: 130px;
}
#block-views-proyectos-block_4 h2.title {
    background: none repeat scroll 0 0 #582A8A;
    color: white;
    font-family: trebuchet MS;
     padding-left: 130px;
}



.page-node-112 .field-field-picture {
float: left;
padding-left: 40px;
padding-top:20px;


}


.page-node-112 .field-field-body2 {
width:350px;
float:left;
 margin-right: 40px;
 margin-left:40px;
}

.page-node-112 .field-field-picture2 {

float: left;
padding-bottom:20px;

}

.page-node-112 .field-field-picture2 img{

border: 5px solid #ffffff;
-moz-border-radius: 11px 11px 11px 11px;
}
.page-node-112 .field-field-picture img {

border: 5px solid #ffffff;
-moz-border-radius: 11px 11px 11px 11px;
}


#content-area .node-type-page {
 background: none repeat scroll 0 0 #D6D6D6;


}



.page-node-112 p{
float: left;
    margin-bottom: 100px;
    margin-left: 40px;
    width: 350px;
}


.view-cuencas .views-field-field-picture-fid {
float: left;
margin:10px 10px 10px 10px;
}

.view-cuencas .views-field-field-picture-fid-1 {
float: left;
margin:10px 10px 10px 10px;
}

.view-cuencas .views-row {
display:block;
clear:both;
}

.view-cuencas .views-field-body {
display:block;
clear:both;
}

.view-cuencas .views-field-body-1 {
display:block;
clear:both;
}

#block-block-1 img {
margin: 6px 6px 6px 6px;

}

#block-locale-0 ul li {
list-style:none;
display:inline;
}

#name-and-slogan {
width:700px;
float :left;
}

#block-locale-0 h2.title {
text-indent:-999999px;
}

#block-search-0 h2.title {
text-indent:-999999px;
}
#block-menu-menu-menuproyectoscuencas h2.title {
text-indent:-999999px;
}


#block-locale-0 ul li a {
color: #582A8A;
text-decoration:none;

}
#block-locale-0 ul li a:active {
font-weight:bold;
}
#block-locale-0 ul li.first a {
    border-right: 3px solid #582A8A;
    padding-right: 5px;
    
}
#block-views-calendar-calendar_block_1 h2.title {
color:#582A8A;
float:right;

}

.page-aliados .view-aliados-listado {
background:#D6D6D6;
height:850px;
}

.page-aliados .view-aliados-listado .views-row  {
background: none repeat scroll 0 0 white;
    height: 90px;
    margin-left: 10px;
    margin-right: 10px;
    width: 715px;
}



.page-aliados .view-aliados-listado .item-list {
background: none repeat scroll 0 0 white;
    margin-left: 10px;
    margin-right: 10px;
    width: 735px;
    position:absolute;
border-left:3px solid #582A8A;
border-right:3px solid #582A8A;
border-bottom: 3px solid #582A8A;
}

.page-aliados .view-header {
padding-left:10px;
padding-right:10px;
}


.page-aliados .view-aliados-listado .views-row-first {
border-top: 3px solid #582A8A;
}

.page-aliados .view-aliados-listado .views-row-last {

}

.page-aliados .view-aliados-listado .views-row {
border-left:3px solid #582A8A;
border-right:3px solid #582A8A;

}

#footer {
width:758px;
border:1px solid #582A8A;
position:absolute;

}



/***********************************************************************/





.page-colaboradores .view-Investigadores-listado {
background:#D6D6D6;
height:950px;
display:block;
}

.page-colaboradores .view-Investigadores-listado .views-row  {
background: none repeat scroll 0 0 white;
    height: 90px;
    margin-left: 20px;
    margin-right: 10px;
    width: 715px;
}



.page-colaboradores .view-Investigadores-listado .item-list {
background: none repeat scroll 0 0 white;
    margin-left: 20px;
    margin-right: 10px;
    width: 715px;
    position:absolute;
border-left:3px solid #582A8A;
border-right:3px solid #582A8A;
border-bottom: 3px solid #582A8A;
}

.page-colaboradores .view-header {
padding-left:10px;
padding-right:10px;
}


.page-colaboradores .view-Investigadores-listado .views-row-first {
border-top: 3px solid #582A8A;
}

.page-colaboradores .view-Investigadores-listado .views-row-last {

}

.page-colaboradores .view-Investigadores-listado .views-row {
border-left:3px solid #582A8A;
border-right:3px solid #582A8A;

}

.node-type-sitio-cuenca .quicktabs_main.quicktabs-style-basic {
    background-color: #D6D6D6;
    border-color: -moz-use-text-color #582A8A #582A8A;
    border-right: 1px solid #582A8A;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    clear: both;
    padding: 10px;
}


.node-type-sitio-cuenca .quicktabs_tabpage p {
    padding: 10px 10px 10px 10px;
}
.node-type-sitio-cuenca .quicktabs_tabpage  {
    padding: 10px 10px 10px 10px;
}


.node-type-sitio-cuenca ul.quicktabs_tabs.quicktabs-style-basic {
    border-bottom: 1px solid #582A8A;
    font: bold 12px/19px Verdana !important;
    height: 19px;
    margin: 0;
    padding: 0 5px 0 0;
}



.node-type-sitio-cuenca .quicktabs_main.quicktabs-style-basic .views-row {
 background-color: #eaeaea;
}

.node-type-sitio-cuenca .quicktabs_main.quicktabs-style-basic .quicktabs_tabpage {
   background-color: #eaeaea;
}


.node-type-sitio-cuenca ul.quicktabs_tabs.quicktabs-style-basic li.active a {
    color: #ffffff;
}


.node-type-sitio-cuenca ul.quicktabs_tabs.quicktabs-style-basic li.active {
    background: none repeat scroll 0 0 #582A8A;
    border-color: #582A8A #582A8A -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    margin: 0 3px 0 0;
    padding: 2px 5px;
    position: relative;
}

.node-type-sitio-cuenca ul.quicktabs_tabs.quicktabs-style-basic li {
    background: none repeat scroll 0 0 #eaeaea;
    border-color: #eaeaea #eaeaea -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    margin: 0 3px 0 0;
    padding: 2px 5px;
    position: relative;
    
     -moz-border-radius: 10px 10px 0px 0px;
    
}


.node-type-sitio-cuenca ul.quicktabs_tabs.quicktabs-style-basic a {
    color: #582A8A;
    font: bold 12px/19px Verdana !important;
    text-decoration: none;
}

/*
.node-type-sitio-cuenca  .tabs ul.primary li a{
background:#D6D6D6;
margin-right:2px;
-moz-border-radius: 11px 11px 0px 0px;
color:white;
font-weight:normal;
}

.node-type-sitio-cuenca  .tabs ul.primary li.active a { 
background: #582A8A;
color:white;

}

.node-type-sitio-cuenca ul.primary li.active a .tab, ul.primary li.active a .tab, ul.primary li.active a .tab {
background:none;
}

.node-type-sitio-cuenca ul.primary li a .tab, ul.primary li a .tab 
{
background:none;
}


.node-type-sitio-cuenca .ul.primary li a .tab {
background:none;
}

ul.primary li.active a:focus { }
*/


#block-cumulus-0 .more-link a{
text-decoration:none;
color:#582A8A;
    font-size: 10px;

}

#block-cumulus-0 h2.title {
text-indent:-99999px;
}


.block-views-calendar-calendar_block_1 {
position:absolute;

}





.node-type-proyecto  #block-views-proyectos-block_7 .content p {
width : 350px;
}


.node-type-proyecto #block-views-proyectos-block_7  .views-field-title a {
text-decoration:none;
color:white;
padding-left:3px;
padding-right:3px;

}
#block-views-proyectos-block_7 .more-link a {
color:white;
background:#582A8A;
padding: 7px 7px 7px 3px;
 -moz-border-radius: 5px 5px 5px 5px;
text-decoration:none;
}

.node-type-proyecto #block-views-proyectos-block_7 .views-slideshow-controls-bottom {
text-decoration:none;
color:white;
}



.node-type-proyecto #block-views-proyectos-block_7 .views-field-title {
    -moz-border-radius: 0 0 11px 11px;
    background: none repeat scroll 0 0 black;
    margin-left: 50px;
    margin-top: 172px;
    opacity: 0.5;
    padding-bottom: 20px;
    padding-top: 10px;
    position: absolute;
    width: 330px;
}

.node-type-proyecto #block-views-proyectos-block_7  .views-field-field-picture-fid img {
    margin-left: 50px;
padding-left:0px;
}


.node-type-proyecto #block-views-proyectos-block_7  .views-slideshow-controls-bottom {

background: none repeat scroll 0 0 black;
 margin-left: 5px;
    margin-top: 4px;
    opacity: 0.5;
 
}

#block-views-proyectos-block_5{
width:350px;
}
#block-views-proyectos-block_5 a{
text-decoration:none;
color:black;
}


#block-views-proyectos-block_5 .more-link a {
color:white;
background:#582A8A;
padding: 7px 7px 7px 7px;
 -moz-border-radius: 5px 5px 5px 5px;
}



#block-views-proyectos-block_8 {
width: 300px;
height:300px;

float:left;


}

#block-views-proyectos-block_8 p { 
  background: none repeat scroll 0 0 #FFFFFF;
    margin-left: 10px;
    padding: 2px;
 -moz-border-radius: 11px 11px 11px 11px;
}

 #block-views-proyectos-block_7 {
  float:right;
  margin-right:10px;
}
#block-views-proyectos-block_8 .views-field-body {
/*padding:10px 10px 10px 10px;*/
margin-top:-12px;
}

.node-type-proyecto #content-area  {
background:#D6D6D6;

}

.node-type-proyecto .region-content-bottom {
margin-top:20px;
background:#D6D6D6;
}

#block-views-proyectos-block_5 h2.title {
color:#582A8A;
   font-family: trebuchet MS;
   margin-left:10px;
   margin-top:10px;
   margin-bottom:10px;
}


#block-views-proyectos-block_8 h2.title {
color:#582A8A;
   font-family: trebuchet MS;
   margin-left:10px;
}

#block-views-proyectos-block_7 h2.title {
color:#582A8A;
font-family: trebuchet MS;
padding-left:315px;
}

#block-views-cuencas-block_2 h2.title {
color:#582A8A;
font-family: trebuchet MS;
margin-top:10px;
margin-left:10px;
}
#block-views-cuencas-block_1 h2.title {
color:#582A8A;
font-family: trebuchet MS;
margin-top:10px;
margin-left:220px;
}


#block-views-cuencas-block_2 {
height:490px;
float:left;
margin-top:20px;
width: 410px;
background:#d8d8d8;
}


#block-views-cuencas-block_1 {
float:right;
background:#d8d8d8;
margin-top:20px;
}

#block-views-cuencas-block_1 .views-field-title {
 -moz-border-radius: 0 0 16px 16px;
    background: none repeat scroll 0 0 black;
    margin-left: 10px;
    margin-top: 182px;
    opacity: 0.5;
    padding-bottom: 20px;
    padding-top: 10px;
    position: absolute;
    width: 330px;
}

#block-views-cuencas-block_1 .views-field-title a {
text-decoration:none;
color:white;
padding-left:3px;
padding-right:3px;

}
#block-views-cuencas-block_1 .more-link a {
color:white;
background:#582A8A;
padding: 3px 3px 3px 3px;
 -moz-border-radius: 5px 5px 5px 5px;
text-decoration:none;
}

#block-views-cuencas-block_2 .view-footer {

 float: left;
    padding-left: 270px;
    width: auto;
    margin:10px

 }
#block-views-cuencas-block_2 .view-footer a  {
color:white;
background:#582A8A;
padding: 7px 7px 7px 7px;
 -moz-border-radius: 5px 5px 5px 5px;
text-decoration:none;
 }


#block-views-cuencas-block_2 .views-field-field-picture2-fid {
margin-left:42px;
background:#d8d8d8;
}
#block-views-cuencas-block_2 .views-field-field-picture2-fid img{
 padding: 10px 10px 10px 10px ;
 background:#c3bec9;
}

.node-type-sitio-cuenca .region-content-bottom {
background:#d8d8d8;
}

#block-views-cuencas-block_3 h2.title {
color:#582A8A;
font-family: trebuchet MS;
margin-top:10px;
margin-left:245px;

}

#block-views-cuencas-block_3 {
float:right;
width:350px;
background:#d8d8d8;
height:210px;
margin-top:-15px;
}

#block-views-proyectos-block_5 .views-row a {
color: black;
    text-decoration: none;
    background:url("../images/flecha2.jpg") no-repeat scroll 20px 0 transparent;
    line-height: 20pt;
    padding-left: 40px;
}

#block-views-cuencas-block_3 .views-row a {
color: black;
    text-decoration: none;
    background:url("../images/flecha2.jpg") no-repeat scroll 20px 0 transparent;
    line-height: 20pt;
    padding-left: 40px;
}

#block-views-cuencas-block_3 .more-link a {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #582A8A;
    color: white;
    padding: 7px;
    text-decoration:none;
}



.node-type-sitio-cuenca .region-content-bottom  {
    background: #D6D6D6;
   
}

#block-views-recursos_listado-block_3 {
width:400px;
float:left;
height:280px;
background:#D6D6D6;
font-family: trebuchet MS;
}


#block-views-proyectos-block_9 {
float:right;
width:360px;
background:#c3bec9;
height:280px;
font-family: trebuchet MS;
}


#block-views-proyectos-block_9  h2.title {
color:#582A8A;
padding-left:20px;
font-family: trebuchet MS;
margin-bottom:10px;
}


#block-views-proyectos-block_9 .views-field-title a{
color:black;
text-decoration:none;
font-weight:bold;
font-family: trebuchet MS;
}



#block-views-proyectos-block_9 .views-field-body {
padding-left: 110px;
font-family: trebuchet MS;
}


.region-content-top {
background:none repeat scroll 0 0 #D6D6D6;
}

#block-views-proyectos-block_5 {
width:379px;
float:left;
background:none repeat scroll 0 0 #D6D6D6;
height:280px;
}


#block-views-proyectos-block_5 .more-link {
margin-top:40px;
}

#block-views-proyectos-block_5 .views-field-body {

margin-left:110px;

}

#block-views-proyectos-block_10 {
width:380px;
font-family: trebuchet MS;
float:right;
background:none repeat scroll 0 0 #D6D6D6;
height:280px;
}


#block-views-proyectos-block_10 .views-field-body {
padding-left:100px;
padding-right:10px;
}

#block-views-proyectos-block_10 .view-footer {
margin-left: 260px;
    margin-top: 18px;
}


#block-views-proyectos-block_10 .views-field-title a {
font-family: trebuchet MS;
text-decoration:none;
color:black;
font-weight:bold;
}
#block-views-proyectos-block_10 .view-footer a {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #582A8A;
    color: white;
    padding: 7px 7px 7px 7px;
    text-decoration: none;
}


.node-type-proyecto .region-content-bottom {
background:none repeat scroll 0 0 #D6D6D6;

}


#block-views-proyectos-block_10 h2.title {
color:#582A8A;
font-family: trebuchet MS;
margin-top:10px;
margin-bottom:10px;
margin-left:150px;
}
#block-views-proyectos-block_9 .view-footer {
margin-left: 260px;
    margin-top: 30px;
}
#block-views-proyectos-block_9 .view-footer a {
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: #582A8A;
    color: #FFFFFF;
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
}
