
html {
  background-color: white;
  /*font-family: trebuchet MS;*/
  
  font-family:Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
}

.with-navigation #content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
margin-top: 1.3em;
}

#header {
  height: 136px; 
  
  background: url("../images/banner.png") no-repeat scroll 0 0 ;

}

#header .form-submit {
  height: 21px;
  width:  21px;
  background: url("../images/btn_buscar.png") no-repeat scroll 0 0 ;
  border: none;
  text-indent: -9999px;
}

div#toolbar-toolbar div.depth-0 ul.links {
    float: left;
    height: 41px;
    line-height: 1px;
    overflow: hidden;
    padding: 5px 0;
}


#site-name a:link, #site-name a:visited {

  
color: #582A8A;
    font-family:Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);	
    text-align: left;
    text-decoration: none;  
  
  
}

#edit-search-theme-form-1 {
  color: gray;
  font-style: normal;
}

#header .section #left-header {
  float:left;
}

#header .section #right-header {
  float:left;
  margin-left: 9em;
  margin-top: 3.4em;
  position: relative;
}

#name-and-slogan {
  font-size:15pt;

  
}

#right-header {
  float: left;
  margin-left: 9em;
  margin-top: 3.4em;
}

#main-wrapper .breadcrumb a {
  text-decoration: none;
}

#navigation {
  background-color: #52A8A;	

}

#navigation #main-menu {
 width: 900px;
  background-color: #582A8A;
  display: inline;
  padding-bottom: 10px;
  padding-top: 7px;
  float:left;
 /* width:960px;*/
}

#search {
  float: right;
  padding-right: 50px;

}

#search input.form-text {
  font-size: 10px;
  margin-top: 5px;
}

#navigation #main-menu a {
  text-decoration: none;
  font-weight:bold;
  /*color: white;*/
}

#navigation #main-menu a.active {
  font-weight: bold;
}

#navigation .section {
  background-color: #582A8A;
}

#main-menu .menu-2188 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;
  color:white;
  position:static;

}
#main-menu .menu-2187 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;
  padding-right:20px;
   color:white;
  position:static;
}
#main-menu .menu-2189 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;
  padding-right:20px;
   color:white;
  position:static;
}

#main-menu .menu-4803 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 30px;
  padding-right:30px;
   color:white;
  position:static;
}
#main-menu .menu-2357 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;
  padding-right:20px;
   color:white;
  position:static;
}



#main-menu .menu-1096 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;
  padding-right:20px;
 color:white;
  position:static;
}

#main-menu .menu-2466 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;
  padding-right:20px;
 color:white;
  position:static;
}

#main-menu .menu-1095 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 20px;
  padding-right:20px;
   color:white;
  position:static;
}


#main-menu .menu-5626 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 30px;
  padding-right:30px;
   color:white;
  position:static;
}

#main-menu .menu-5627 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 30px;
  padding-right:30px;
   color:white;
  position:static;
}

#main-menu .menu-5628 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 30px;
  padding-right:30px;
   color:white;
  position:static;
}

#main-menu .menu-5629 a {
  border-left: 1px solid #FFFFFF;
  padding-left: 25px;
  padding-right:25px;
   color:white;
  position:static;
}



#main-menu .menu-1094 a {
 color:white;
  padding-left: 20px;
  padding-right:20px;
  
  position:static;
}

#main-menu li.menu-2415 {
	background: url("../images/sobre2.png") no-repeat scroll 0 0 transparent;
	/*margin-left: 30px;*/
   color:#582A8A;
  position:static;
}

#main-menu li.menu-2415 a {
 /*  background: url("../images/sobre2.png") no-repeat scroll 0 0 transparent;*/
  border: medium none;
  color:#582A8A;
  opacity:0;
  filter: alpha(opacity=0);
  position:static;

}

#navigation 

.view-instituciones-logos .item-list ul {
  margin: 5px 5px 0;
  text-align: center;
}

.view-instituciones-logos .item-list ul li {
   display: -moz-inline-grid;
  /*float:left;*/
  list-style: none;
  padding:10px;
}

.pane-menu-menu-proyectos .menu li {
  float:left;
  padding:10px 3px;
  list-style:none;
  border: 1px solid #CCCCCC;
  margin:2px;
}

.pane-menu-menu-proyectos .menu li a {
  text-decoration:none;
  font-weight:bold;
}

.view-Investigadores-listado .views-field-field-picture-fid {
  color: black;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0px;
}

.view-Investigadores-listado .views-row label {
  font-weight:bold;
  color:black;
}

.view-Investigadores-listado .views-field-title{
  padding-left:120px;
}

.view-Investigadores-listado .views-field-title a{
  text-decoration:none;
  font-weight:bold;
  color:black;
  font-size:13px;
}

.view-Investigadores-listado .views-field-body{
  padding-left:120px;
  padding-right:15px;
}

.view-Investigadores-listado .views-row {
  padding-bottom: 20px;
  color:black;
  font-size:12px;
  display:table;
}

.view-Investigadores-listado .views-field-field-email-value {
  padding-left: 130px;
}

.view-Investigadores-listado .views-field-field-related-institution-nid {
  padding-left:130px;
  padding-bottom:5px;
}

.view-Investigadores-listado .views-label-field-related-institution-nid{
 /* float:left;*/
  padding-right:5px;
}

#block-menu-menu-proyectos h2{
  color:#582A8A;
  padding-top:10px;
}

#block-menu-menu-proyectos ul {
  display:-moz-grid-line;
}

.page-views #block-menu-menu-proyectos ul {
  display:block;
}

#block-menu-menu-proyectos li{
  list-style:none;
  text-align:center;
  padding:10px;
  margin:2px;
  border: 1px solid #CCCCCC;
  background:#582A8A;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
}

#block-menu-menu-proyectos {
  display:block;
}

#block-menu-menu-proyectos a{
  list-style:none;
  text-align:center;
  text-decoration:none;
  color:white;
  font-weight:bold;
}

#block-views-recursos_listado-block_1 {
  display:block;
}

#views_slideshow_thumbnailhover_teaser_section_novedades_listado-page_2 {
  float:left;
}

#views_slideshow_thumbnailhover_teaser_section_novedades_listado-page_2 .views-field-field-picture-fid {
  position:absolute;
}

#block-views-novedades_listado-block_1 .view-novedades-listado .views-content-field-picture-fid img {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius:10px 10px 10px 10px;  
  position:absolute;
  margin-left:10px
}

#block-views-novedades_listado-block_1 .view-footer .vermas {
float:right;
}

#views_slideshow_thumbnailhover_teaser_section_novedades_listado-page_2 .views-field-title {
  background:#000000;
  position:absolute;
  margin-top:200px;
}

#views_slideshow_thumbnailhover_teaser_section_novedades_listado-page_2 .views-field-title a {
  color:#fff;
  position: absolute;
  width:390px;
  font-weight:bold;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  text-decoration:none;
}

#views_slideshow_thumbnailhover_main_novedades_listado-block_1 .views-field-title a {
  background: none repeat scroll 0 0 black;
  color: #FFFFFF;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 204px;
  opacity: 0.8;
  filter: alpha(opacity=80);	
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  text-decoration: none;
  width: 420px;
}


#views_slideshow_thumbnailhover_main_novedades_listado-block_1 .views-field-body {
  -moz-border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
  background: none repeat scroll 0 0 black;
  color: #FFFFFF;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  font-size: 9pt;
  height: 78px;
  margin-left: 10px;
  margin-top: 222px;
  opacity: 0.8;
  filter: alpha(opacity=80);	
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  width: 420px;
}

#views_slideshow_thumbnailhover_teaser_section_novedades_listado-page_2 .views-field-body {
  color: #FFFFFF;
  margin-top: 210px;
  position: absolute;
  width: 432px;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
}

.views-slideshow-controls-bottom {
  display:inline-block;
}

.block-views-novedades_listado-block_1 .views-content-title {
  font-size:9pt;
  font-family:Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  padding-left:120px;
}

.block-views-novedades_listado-block_1 a {
  font-size:9pt;
  font-family:Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
}


.view-novedades-listado .views_slideshow_thumbnailhover_slide .views-field-title  a{
  color: black;
  font-size: 8pt;
  font-weight: bold;
  font-family:Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
}


.view-novedades-listado .views-field-body {
  font-family:Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  color:black;
}

.section-investigadores .region-highlight ul.primary li a .tab {
  font-weight:bold;
}
.section-investigadores .region-highlight ul.primary li a{
  font-weight:normal;
}

#footer-message {
  width:550px;
  margin-left:100px;
  margin-right:200px;
  text-align:center;
  font-size:10px;
  -webkit-border-radius:px 5px 5px 5px;  
  -moz-border-radius: 5px 5px 5px 5px;
  
}

.page-recursos-andesbdc .view-id-recursos_listado {
  width:350px;
  background: none repeat scroll 0 0 #D6D6D6;
  -moz-border-radius: 5px 5px 0 0;
}

.page-recursos-andesbdc .view-id-recursos_listado  .views-row {
  display:table;
  padding-bottom:10px;
}

.page-recursos-andesbdc .view-id-recursos_listado .views-field-field-picture-fid {
  float:left;
 /* padding-left: 5px;*/
 /* padding-right:5px;*/
 margin-left:5px;
 margin-right:5px;
 border: 3px solid white;
}

.page-recursos-andesbdc .view-id-recursos_listado .views-field-field-youtube-embed {
  float: left;
 /* padding-right: 5px;	
  padding-left: 5px*/
   margin-left:5px;
 margin-right:5px;
}

.page-recursos-andesbdc .view-id-recursos_listado .views-field-title {
  padding-left:140px;
}

.page-recursos-andesbdc .view-id-recursos_listado .views-field-title a{
  color:black;
  font-weight:bold;
  text-decoration:none;
}

.page-recursos-andesbdc .view-id-recursos_listado .views-field-body {
  padding-left:140px;
  color:black;
}

.page-recursos-andesbdc .view-id-recursos_listado .more-link a{
  font-weight:bold;
  text-decoration:none;
  background-color:#582A8A;
  color:#fff;
  padding:8px 8px 8px 8px;
  -moz-border-radius: 5px 5px 5px 5px;
}

#views_slideshow_thumbnailhover_main_recursos_listado-block_1 {
  width: 400px;
  float:left;
}

#views_slideshow_thumbnailhover_main_recursos_listado-block_1 .views-content-field-picture-fid{
  float:left;
  padding-right:10px;
}

#views_slideshow_thumbnailhover_main_recursos_listado-block_1 .views-content-body{
  margin-left:90px;
}


#views_slideshow_thumbnailhover_breakout_teasers_recursos_listado-block_1 {
  width:300px;
}

#views_slideshow_thumbnailhover_breakout_teasers_recursos_listado-block_1 .views-field-title a {
  line-height:34pt;
}

.view-recursos-listado .views-field-title a {
  text-decoration:none;
  font-weight:bold;
  color:black;
}

.views_slideshow_thumbnailhover_teaser_section_recursos_listado-block_1 .view-recursos-listado .views-field-title a {
  background: url("../images/f.jpg") no-repeat scroll 10px 0 transparent;
}

#block-views-recursos_listado-block_1 h2.title {
  color:#582A8A;
  padding-left:550px;
  background: none repeat scroll 0 0 #D6D6D6;
}

#block-views-recursos_listado-block_1 {
  width:700px; 
}


.view-recursos-listado .view-content .views-row {
  padding-top:15px;
  padding-bottom:15px;
}

.page-panels #block-menu-menu-proyectos {
  width:700px;
}
.region-sidebar-second #block-menu-menu-proyectos h2 {
  padding-left:55px;
}

.section h1 {
  color:#582A8A;
}

#block-views-vista_rss-block_2 .views-field-description a{
  text-decoration:none;
  color:black;
}

.calendar-calendar th a, .attachment .calendar-calendar th {
  background-color:#D6D6D6;
  color:black;
  border: 0 none;
}

.view-content .calendar-calendar .date-heading h3 a{
  color:#fff;
/*  line-height:0px;*/
  font-size:20px;
}
  
.view-content .calendar-calendar .date-nav a:hover {
  text-decoration:none;
} 

.view-content .calendar-calendar .date-heading {
  Background-color:#582A8A;
}

.view-content .calendar-calendar .date-prev {
 /* background:none;
  padding:7px 0px;*/
}

.view-content .calendar-calendar .date-next {
 background:none;
 /* padding:7px 0px;*/
}

.view-content .calendar-calendar .date-prev a{
  color:#fff;
}

.view-content .calendar-calendar .date-next a{
  color:#fff;
}

.calendar-calendar td.today {
  color: black;
  Background-color:#582A8A;
}

.calendar-calendar td {
  color: black;
}


#block-menu-menu-menuproyectoscuencas ul {
  margin: 1em 0;
  padding: 0 0 0 0;
}

#block-menu-menu-menuproyectoscuencas ul li {
  list-style:none;
  display :block;
  clear:both;
  text-align:center;
  height:40px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  
  background: none repeat scroll 0 0 #ffffff;
  border: 3px solid #CCCCCC;
  list-style: none outside none;
  margin: 5px;
  padding: 10px;
  border-color:#582A8A;
}

#block-menu-menu-menuproyectoscuencas ul.menu li a{
  text-decoration:none;
  color:#582A8A;
  font-weight:bold;
  font-size:20px;
}


/********************************************************************************************************************************/
#views_slideshow_thumbnailhover_main_novedades_listado2-page_2  .views-content-title {
  Background-color:black;
  opacity:0.555;
  margin-top: -40px;
  position: absolute;
  width:432px;
}

#views_slideshow_thumbnailhover_main_novedades_listado2-page_2 {
  width:432px;
  float:left;
  position:relative;
}

#views_slideshow_thumbnailhover_main_novedades_listado2-page_2  .views-content-title a {
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.view-novedades-listado2 .views-content-body  {
  color:white;
  Background-color:black;
  opacity:0.555;
  width:432px;
  margin-top: -20px;
  position: absolute;
}

.
#block-views-recursos_listado-block_2 {
  width:370px;
  float:left;
  background: none repeat scroll 0 0 #D6D6D6;
  height:900px;
}

#block-views-recursos_listado-block_2 h2.title {
  background: none repeat scroll 0 0 #582A8A;
  color: white;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  padding-right: 15px;
  text-align: right;
}

 #block-views-vista_rss-block_1{
  background:#D6D6D6;
  width:370px;
  margin-left:10px;
  float:right;
  height: 900px;
} 

#block-views-vista_rss-block_1 h2.title {
  background: none repeat scroll 0 0 #582A8A;
  color: white;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  padding-right: 15px;
  text-align: right;
}

.pager a, .pager strong.pager-current {
  color: black;
  text-decoration: none;
}

.menu_redes {
  margin-left: 750px;
  margin-top:90px;
  position: absolute;
  width: 205px;
}

#block-menu-menu-redes ul.menu li a {
  background: url("../images/general.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 18px;
  margin: 4px 11px 4px 0;
  text-indent: -9999px;
  width: 18px;
}

#block-menu-menu-redes ul.menu li a.rss {
  background-position: 0px -131px;
}

#block-menu-menu-redes  ul.menu a.facebook {
  background-position: -18px -131px;
}

#block-menu-menu-redes  ul.menu a.twitter {
  background-position: -36px -131px;
}

#block-menu-menu-redes  ul.menu a.youtube {
  background-position: -55px -131px;
}

#block-menu-menu-redes ul.menu a.slideshare {
  background: url("../images/slideshare.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 18px;
  margin: 4px 11px 4px 0;
  text-indent: -9999px;
  width: 18px;
}

#block-menu-menu-redes ul.menu a.flickr {
  background: url("../images/flickr.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 18px;
  margin: 4px 11px 4px 0;
  text-indent: -9999px;
  width: 18px;
}

.region-header {
  /* float:right;
 margin-left: 770px;
  position: absolute;
  margin-top:20px;*/
}

.region-header ul.menu li {
  float:left;
  display : inline-block;
}

.menu_redes ul.menu li {
float:left;
display : inline-block;
}

#block-views-proyectos-block_1,
#block-views-proyectos-block_2,
#block-views-proyectos-block_3,
#block-views-proyectos-block_4,
#block-views-novedades_listado-block_2,
#block-views-vista_rss-block_2 {
width:45%;
float:left;
}

#block-views-proyectos-block_2,
#block-views-proyectos-block_4,
#block-views-vista_rss-block_2 {
margin-left:20px;
}

#block-views-proyectos-block_1 .views-field-body {
  margin-left:100px;
}

#block-views-proyectos-block_2 .views-field-body {
  margin-left:100px;
}


.view-cuencas .views-field-field-picture-fid {
  float: left;
  margin:10px 10px 10px 10px;
  margin-top:0px;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  line-height: 0;
}

#block-views-cuencas-block_1 .view-cuencas .views-field-field-picture-fid {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  
}

.view-cuencas .views-field-field-picture-fid-1 {
  float: left;
  margin:10px 10px 10px 10px;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  
  margin-top:0px;
  line-height: 0;
}

.view-cuencas .views-row {
  display:block;
  clear:both;
}

.view-cuencas .views-field-body {
  display:block;
  margin-left:140px;
}

.view-cuencas .views-field-body-1 {
  display:block;
  margin-left:120px;
}

#block-block-1 img {
  margin: 6px 6px 6px 6px;
}

#block-locale-0 ul li {
  list-style:none;
  display:inline;
}

#name-and-slogan {
  width:700px;
  float :left;
}

#block-locale-0 h2.title {
  text-indent:-999999px;
}

#block-search-0 h2.title {
  text-indent:-999999px;
}
#block-menu-menu-menuproyectoscuencas h2.title {
  text-indent:-999999px;
  display:none;
}

#block-locale-0 ul li a {
  color: #582A8A;
  text-decoration:none;
}
#block-locale-0 ul li a:active {
  font-weight:bold;
}
#block-locale-0 ul li.first a {
  border-right: 3px solid #582A8A;
  padding-right: 5px;
}
#block-views-calendar-calendar_block_1 h2.title {
  color:#582A8A;
  float:right;
}

.node-type-sitio-cuenca .quicktabs_main.quicktabs-style-basic {
  background-color: #D6D6D6;
  border-color: -moz-use-text-color #582A8A #582A8A;
  border-right: 1px solid #582A8A;
  border-style: none solid solid;
  border-width: medium 2px 2px;
  clear: both;
  padding: 10px;
  font-size:12px;
}
.node-type-sitio-cuenca .quicktabs_tabpage  {
  padding: 10px 10px 10px 10px;
  margin:10px;
}
.node-type-sitio-cuenca ul.quicktabs_tabs.quicktabs-style-basic {
  border-bottom: 3px solid #582A8A;
  font: bold 12px/19px Verdana !important;
  height:32px;
  margin: 0;
  padding: 0 5px 0 0;
  margin-top:20px;
}

.node-type-sitio-cuenca .quicktabs_main.quicktabs-style-basic .views-row {
  background-color: #eaeaea;
}

.node-type-sitio-cuenca .quicktabs_main.quicktabs-style-basic .quicktabs_tabpage {
  background-color: #eaeaea;
}

.node-type-sitio-cuenca ul.quicktabs_tabs.quicktabs-style-basic li.active a {
  color: #ffffff;
}

.node-type-sitio-cuenca ul.quicktabs_tabs.quicktabs-style-basic li.active {
  background: none repeat scroll 0 0 #582A8A;
  border-color: #582A8A #582A8A -moz-use-text-color;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  margin: 0 3px 0 0;
  border: 3px solid #582A8A;
 /* padding: 10px 5px 2px;*/
   padding: 8px 5px 2px;
  position: relative;
}

.node-type-sitio-cuenca ul.quicktabs_tabs.quicktabs-style-basic li {
  background: none repeat scroll 0 0 #eaeaea;
  border-color: #eaeaea #eaeaea -moz-use-text-color;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  margin: 0 3px 0 0;
  border: 3px solid #582A8A;
 /* padding: 10px 5px 2px;*/
   padding: 8px 5px 2px;
  position: relative;
  -webkit-border-radius:10px 10px 0px 0px;  
  -moz-border-radius: 10px 10px 0px 0px;
  float:left;
}


.node-type-sitio-cuenca ul.quicktabs_tabs.quicktabs-style-basic a {
  color: #582A8A;
 /* font: bold 12px/19px Verdana !important;*/
  text-decoration: none;
}

#block-cumulus-0 .more-link a{
  text-decoration:none;
  color:#582A8A;
  font-size: 10px;
}

#block-cumulus-0 h2.title {
  text-indent:-99999px;
  display:none;
}

.block-views-calendar-calendar_block_1 {
  position:absolute;
}

.node-type-proyecto  #block-views-proyectos-block_7 .content p {
  width : 350px;
}

.node-type-proyecto #block-views-proyectos-block_7  .views-field-title a {
  text-decoration:none;
  color:white;
  padding-left:3px;
  padding-right:3px;
}

#block-views-proyectos-block_7 .more-link a {
  color:white;
  background:#582A8A;
  padding: 6px 17px;
  -webkit-border-radius:5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  text-decoration:none;
  font-size:11px;
}

.node-type-proyecto #block-views-proyectos-block_7 .views-slideshow-controls-bottom {
  text-decoration:none;
  color:white;
}

.node-type-proyecto #block-views-proyectos-block_7 .views-field-title a {
  -moz-border-radius: 0 0 16px 16px;
  -webkit-border-radius: 0 0 16px 16px;  
  background: none repeat scroll 0 0 black;
  height: 50px;
  margin-left: -335px;
  margin-top: 170px;
  opacity: 0.8;
  filter: alpha(opacity=80);	
  position: absolute;
  width: 320px;
}

.node-type-proyecto #block-views-proyectos-block_7  .views-field-field-picture-fid img {
  margin-left: 50px;
  padding-left:0px;
}

.node-type-proyecto #block-views-proyectos-block_7  .views-slideshow-controls-bottom {
  background: none repeat scroll 0 0 black;
  margin-left: 5px;
  margin-top: 4px;
  opacity: 0.8;
  filter: alpha(opacity=80);	
}

#block-views-proyectos-block_5{
  width:350px;
}
#block-views-proyectos-block_5 a{
  text-decoration:none;
  color:black;
}

#block-views-proyectos-block_5 .more-link a {
  color:white;
  background:#582A8A;
  padding: 6px 17px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  font-size:11px;
}

#block-views-proyectos-block_8 {
  width: 300px;
  height:300px;
  float:left;
}

#block-views-proyectos-block_8 .views-field-body {
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius:11px 11px 11px 11px;
 /*   background: none repeat scroll 0 0 #FFFFFF;
    margin-left: 10px;*/
    padding:10px;
    font-size:12px;
    
}



#block-views-proyectos-block_8 p { 
/*  background: none repeat scroll 0 0 #FFFFFF;
  margin-left: 10px;
  padding: 19px;
  -moz-border-radius: 11px 11px 11px 11px;*/
}

 #block-views-proyectos-block_7 {
  float:right;
  margin-right:10px;
}


#block-views-proyectos-block_5 h2.title {
  color:#582A8A;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  margin-left:10px;
  margin-top:10px;
  margin-bottom:10px;
}

#block-views-proyectos-block_8 h2.title {
  color:#582A8A;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  margin-left:10px;
}

#block-views-proyectos-block_7 h2.title {
  color:#582A8A;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  padding-left:315px;
}

#block-views-cuencas-block_2 h2.title {
  color:#582A8A;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  margin-top:10px;
  margin-left:10px;
}

#block-views-cuencas-block_1 h2.title {
  color:#582A8A;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  margin-top:10px;
  text-align: right;
  margin-right:10px;
}

#block-views-cuencas-block_2 {
  height:490px;
  float:left;
  margin-top:20px;
  width: 410px;
  background:#d8d8d8;
}

#block-views-cuencas-block_1 {
  float:right;
  background:#d8d8d8;
  margin-top:20px;
}

#block-views-cuencas-block_1 .views-field-title a {
  -moz-border-radius: 0 0 16px 16px;
  -webkit-border-radius: 0 0 16px 16px;
  background: none repeat scroll 0 0 black;
  height: 50px;
  margin-left: -340px;
  margin-top:170px;
  opacity: 0.8;
  filter: alpha(opacity=80);	
  position: absolute;
  width: 324px;
}

#block-views-cuencas-block_1 .views-field-title a {
  text-decoration:none;
  color:white;
  padding-left:3px;
  padding-right:3px;
}
#block-views-cuencas-block_1 .more-link a {
  color:white;
  background:#582A8A;
  padding: 3px 3px 3px 3px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  text-decoration:none;
font-size:11px;
}

#block-views-cuencas-block_2 .view-footer {
  float: left;
  padding-left: 270px;
  width: auto;
  margin:10px
 }

#block-views-cuencas-block_2 .view-footer a  {
  color:white;
  background:#582A8A;
  padding: 7px 7px 7px 7px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  text-decoration:none;
}

#block-views-cuencas-block_2 .views-field-field-picture2-fid {
  margin-left:42px;
  background:#d8d8d8;
  margin-top: 20px;
}

#block-views-cuencas-block_2 .views-field-field-picture2-fid img{
  padding: 10px 10px 10px 10px ;
  background:#c3bec9;
}

.node-type-sitio-cuenca .region-content-bottom {
  background:#d8d8d8;
}

#block-views-cuencas-block_3 h2.title {
  color: #582A8A;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  margin-right: 10px;
  margin-top: 10px;
  text-align: right;
}

#block-views-cuencas-block_3 {
  float:right;
  width:350px;
  background:#d8d8d8;
  height:210px;
  margin-top:-15px;
}

#block-views-proyectos-block_5 .views-row a {
    background: url("../images/icono-flecha.gif") no-repeat scroll 5px -8px transparent;
    color: black;
    line-height: 20pt;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-top: 5px;
    text-decoration: none;
    font-weight:bold;
    font-size:12px;
}

#block-views-cuencas-block_3 .views-row a {
    background: url("../images/icono-flecha.gif") no-repeat scroll 5px -9px transparent;
    color: black;
    line-height: 21pt;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-top: 5px;
    text-decoration: none;
}

#block-views-cuencas-block_3 .more-link a {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  background: none repeat scroll 0 0 #582A8A;
  color: white;
  padding: 7px;
  text-decoration:none;
  font-size:11px;
}

.node-type-sitio-cuenca .region-content-bottom  {
  background: #D6D6D6;
}


#block-views-proyectos-block_5 .more-link {
  margin-top:40px;
}

#block-views-proyectos-block_5 .views-field-body {
  margin-left:110px;
}

.node-type-proyecto .region-content-bottom {
  margin-top:20px;
  background:#D6D6D6;
  display: -moz-inline-box;
}

#block-views-proyectos-block_10 {
  width: 400px;
  position: relative;
  float:right; 
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  background:none repeat scroll 0 0 #D6D6D6;
  height:280px;
}

#block-views-proyectos-block_5 {
  position: relative;
  width: 360px;
  float:left; 
  background:none repeat scroll 0 0 #D6D6D6;
  height:280px;
}

#block-views-proyectos-block_10 .views-field-body {
  padding-left:100px;
  padding-right:10px;
}

#block-views-proyectos-block_10 .view-footer {
  margin-right: 20px;
  margin-top: 18px;
  text-align: right;
}
#block-views-proyectos-block_10 .views-field-title {
  padding-left:100px;
  padding-right:10px;
}

#block-views-proyectos-block_10 .views-field-title a {
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  text-decoration:none;
  color:black;
  font-weight:bold;
}
#block-views-proyectos-block_10 .view-footer a {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  background: none repeat scroll 0 0 #582A8A;
  color: white;
  padding: 7px 7px 7px 7px;
  text-decoration: none;
}

#block-views-proyectos-block_10 h2.title {
  color:#582A8A;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:150px;
}


#block-menu-menu-conocelosandes h2.title {
	text-indent: -9999px;
}

#block-menu-menu-conocelosandes li a {
  background: url("../images/conoce_los_andes.png") no-repeat scroll 0 0 transparent;	
  font-size: 80px;
  height: 265px;
  opacity: 0;
  filter: alpha(opacity=0);	
  width: 150px;
}

#block-menu-menu-conocelosandes li {
  background: url("../images/conoce_los_andes.png") no-repeat scroll 0 0 transparent;	
  width: 150px;
  height: 265px;
  list-style: none;
}

.view-conocelosandes #views_slideshow_thumbnailhover_main_conocelosandes-block_1 {
  margin: 10px;
  margin-left:400px;
}

.view-conocelosandes .views-slideshow-controls-bottom {
  float: left;
  margin: 10px;	
}
	
.view-conocelosandes .views-slideshow-controls-bottom a {
  background: url("../images/icono-flecha.gif") no-repeat scroll 15px -9px transparent;
  color: #582A8A;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
  font-size: 20px;
  font-weight: bold;
  line-height: 25pt;
  padding-left: 50px;
  padding-top: 2px;
  text-decoration: none;
}

.node-type-conocelosandes-story .field-field-picture2 {
  text-align: center;	
}


#block-views-calendar-calendar_block_1 .calendar-calendar {
  font-size: 10px;
}	

#block-views-calendar-calendar_block_1 .calendar-calendar a {
	font-size: 10px;
}	

#block-views-calendar-calendar_block_1 .calendar-calendar .date-nav {
 /* font-size: 12px;	*/
}

.node-type-conocelosandes-story .section .region-content-top {
	 background: none repeat scroll 0 0 #D6D6D6;
}

.node-type-conocelosandes-story .section #content-area {
	background: none repeat scroll 0 0 #D6D6D6;
}

.region-content-top .block-search  .form-submit {
  display: inline;	
}

.node-type-novedades .region-content-top #block-search-0 {
  background:  #582A8A;
}
.node-type-novedades .region-content-top #block-search-0 h2.title {
  color: white;
  background:  #582A8A;
  text-indent: 0px;
  float: right;
  margin-right: 20px;
  padding-top: 5px;
}

.node-type-recursos .region-content-top #block-search-0  {
  background:  #582A8A;
}
.node-type-recursos #block-search-0 h2.title {
  color: white;
  background:  #582A8A;
  text-indent: 0px;
  float: right;
  margin-right: 20px;
  padding-top: 5px;
}

.node-type-recursos .region-content-top #block-search-0 .form-submit {
  background: url("../images/btn_buscar.png") no-repeat scroll 0 0 transparent;
  border: medium none;
  height: 21px;
  text-indent: -9999px;
  width: 21px;
}
.node-type-novedades .region-content-top #block-search-0 .form-submit {
  background: url("../images/btn_buscar.png") no-repeat scroll 0 0 transparent;
  border: medium none;
  height: 21px;
  text-indent: -9999px;
  width: 21px;
}

.node-type-novedades .region-content-top #block-search-0  .form-text {
  width: 100px;
  height: 20px;	
  margin: 5px;
}

.node-type-recursos .region-content-top #block-search-0  .form-text {
  width: 100px;
  height: 20px;
  margin: 5px;	
}

#block-views-instituciones_logos-block_1 td {
  margin:6px;
}

#block-views-instituciones_logos-block_1 {
  margin-left: 50px;
  margin-right: 50px;
	width: 600px;
}
#block-views-instituciones_logos-block_1 .views-field-field-logo-fid {
  margin: 10px;	
}

#block-block-2 .content {
  margin-left: 15px;	
}

#block-block-2 h2.title {
	text-indent: -9999px;
  display:none;
}

.node-type-recursos .izquierda_recurso {
  float:left;	
  background: none repeat scroll 0 0 #D6D6D6;
}

.node-type-recursos #content-area {
  background:#D6D6D6;
}

.node-type-recursos .derecha_recurso {
  background: none repeat scroll 0 0 #D6D6D6;
  float: right;
  margin-top: 20px;
  width: 370px;	
}
	
.node-type-recursos .field-type-nodereference a {
	text-decoration: none;
	color:black;
}

.node-type-recursos .field-type-filefield a {
	text-decoration: none;
	color:black;
}


.node-type-recursos .titulo_recurso {
  font-weight: bold;
  font-size: 21px;	
}
	
.node-type-recursos .filefield-file {
  margin-bottom: 25px;	
}

.node-type-recursos .Enlaces {
  float: left;
  width: 800px;
  display: block;
}

.linkvolver img {
  margin-left: 385px;	
}

.node-type-investigador #block-menu-menu-mquienessomos ul.menu li.last a {
  background: none repeat scroll 0 0 #582A8A;
  color:white ;
}

.node-type-sitio-cuenca .view-cuencas .more-link a {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  background: none repeat scroll 0 0 #582A8A;
  color: white;
  padding: 7px;
  text-decoration: none;
}

.page-mapa-cuenca .view-cuencas .views-field-field-picture2-fid label {
  display: block;
  color: #582A8A;
  font-size: 14px;
  padding-left: -50px;
  font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
	padding-top: 20px;
}

#quicktabs_tabpage__fifth .view-cuencas .views-field-title {
  margin-left:140px;
}
.view-cuencas .views-field-title a {
	/*color: #582A8A;*/
  color:black;
  text-decoration:none;
  font-weight:bold;
  font-size:12px;
}

.view-cuencas .views-field-title-1  {
  margin-left:140px;
}

.view-cuencas .views-field-body-1   {
  margin-left:140px;
}

.view-cuencas .views-field-title-1 a {
/*	color: #582A8A;*/
color:black;
  text-decoration:none;
  font-weight:bold;
  font-size:14px;
  
}


.node-type-sitio-cuenca .quicktabs_tabpage__fifth .view-cuencas .views-field-field-picture-fid {
float: left;	
}

.page-mapa-cuenca .view-cuencas .views-field-field-picture2-fid  {
	text-align: center;
	font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
	  background: none repeat scroll 0 0 #D6D6D6;
	}
.page-mapa-cuenca .view-cuencas .views-field-field-picture2-fid img {	
padding-bottom: 20px;
	}
	
	
.page-mapa-cuenca .view-cuencas .views-field-title a {
color: #582A8A;
font-size: 24px;
font-weight: bold;
text-decoration: none;
	font-family: Calibri,'Trebuchet MS',Helvetica,Arial,Verdana;
	}
	
.page-mapa-cuenca .view-cuencas .views-field-title {
  background: none repeat scroll 0 0 #D6D6D6;
  border-bottom: 2px solid #FFFFFF;
  margin-top: 10px;
  padding: 10px;
}
	

	
#block-block-3 {
position: static;
width: 758px;
height: 120px;	
margin-top: 50px;
padding-top: 100px;
	
	}	
	
.region-content-bottom2  .view-otras-vistas .item-list ul li {
   display: inline;
  
  float:left;
  list-style: none;
  padding:0px;	
	
	}
	
.region-content-bottom2  .view-otras-vistas .views-field-field-logo-fid {
margin-left: 5px;	
margin-right: 5px;
	}	
	
	.region-content-bottom2 p {

text-align: center;
font-size: 13px;
margin: 0px;

}


#block-views-proyectos-block_9 .views-field-field-youtube-embed {
float: left;
	
}



.page-aliados #block-views-otras_vistas-block_1 {
    border: none;
    height: auto;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: static;
    width: 758px;
}

.page-colaboradores #block-block-3 {
    height: auto;
    margin-top: 0px;
    padding-top: 0px;
  
}



.page-aliados #block-block-3 {
    height: auto;
    margin-top: 0px;
    padding-top: 0px;
  
}

.page-node-112 #block-block-3 {
    height: auto;
    margin-top: 0px;
    padding-top: 0px;
  
}

.page-node-165 #block-block-3 {
    height: auto;
    margin-top: 0px;
    padding-top: 0px;
  
}

.node-type-sitio-cuenca #block-block-3 {
/* margin-top: 560px;	*/
height: auto;
padding-top:0px;
}


.node-type-sitio-cuenca .region-content-bottom2 {
	margin-top: 700px;
height: 200px;
border: 2px solid #582A8A;
}


.page-nuestros-proyectos .region-content-bottom2 {
	/* margin-top: 805px;*/
  margin-top:825px;
height: 200px;
border: 2px solid #582A8A;
}


.page-nuestros-proyectos #block-block-3 {
    height: auto;
    margin-top:0px;
    padding-top: 50px;
    position: static;
    width: 758px;
}

.page-nuestras-cuencas  #block-block-3 {
    height: auto;
    margin-top:0px;
    padding-top: 20px;
    position: static;
    width: 758px;
}

.page-nuestras-cuencas .region-content-bottom2 {
margin-top: 825px;
/*height: 130px;*/
border: 2px solid #582A8A;
}

.page-node-112 #block-views-otras_vistas-block_1 {
     border: none;
    height: 100px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: static;
    width: 758px;
}

.page-node-112 #block-block-3 {
    height: auto;
    margin-top:0px;
    padding-top: 50px;
    position: static;
    width: 758px;
}

.page-node-112 #block-views-otras_vistas-block_1 {
     border: none;
    height: 100px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: static;
    width: 758px;
}

.page-node-112 .region-content-bottom2 {
margin-top: 5px;
height: 200px;
border: 2px solid #582A8A;
}

.page-aliados #block-block-3 {
    height: auto;
    margin-top:0px;
    padding-top: 50px;
    position: static;
    width: 758px;
}

.page-aliados .region-content-bottom2 {
margin-top: 5px;
height: 200px;
border: 2px solid #582A8A;
}

.page-colaboradores .region-content-bottom2 {
margin-top: 5px;
height: 200px;
border: 2px solid #582A8A;
}

.page-colaboradores #block-block-3 {
    height: auto;
    margin-top:0px;
    padding-top: 50px;
    position: static;
    width: 758px;
}

.page-colaboradores .region-content-bottom2 {
margin-top: 5px;
height: 200px;
border: 2px solid #582A8A;
}

.page-novedades-andesbdc .region-content-bottom2 {
margin-top: 925px;
/*height: 130px;*/
border: 2px solid #582A8A;
}


.page-recursos-andesbdc .region-content-bottom2 {
margin-top: 905px;
/*height: 130px;*/
border: 2px solid #582A8A;
}

.page-recursos-andesbdc #block-block-3 {
    height: auto;
    margin-top:0px;
    padding-top: 20px;
    position: static;
    width: 758px;
}


.page-recursos-andesbdc #block-views-otras_vistas-block_1 {
    border: none;
    height: 100px;
    margin-top: 0px;
}


#block-block-3 {
    height: auto;
    margin-top:0px;
    padding-top: 50px;
    position: static;
    width: 758px;
}

.region-content-bottom2 {
margin-top: 300px;
height: 200px;
border: 2px solid #582A8A;
}


.node .translation-link {
text-indent:-9999px;
}

.node .translation-link a {
text-indent:-999999px;
}

.breadcrumb a {
color:#582A8A;
}


.view-calendar .feed-icon {
    display: none;
}

.calendar-calendar td.today {
    color: black;
    background:#582A8A;

}

.calendar-calendar td {
    text-align: center;
}


#block-views-calendar-calendar_block_1 .calendar-calendar .month-view a {
    color: black;
    font-size: 10px;
    text-decoration: none;

}

.attachment .calendar-calendar th {
  background-color: #D6D6D6;
}


.calendar-calendar .mini-day-on {
 /* background: none repeat scroll 0 0 #D6D6D6;*/
}

.calendar-calendar .mini {
  background: none repeat scroll 0 0 #D6D6D6;
}

.calendar-calendar table.mini td.empty {
  background: none repeat scroll 0 0 #D6D6D6;
}

.attachment .calendar-calendar th {
  background-color: gray;
}

.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
    background-color: #582A8A;
    font-weight:bold;
color:white;
}


.node-type-conocelosandes-story .section h1 {
  /*  background: none repeat scroll 0 0 #D6D6D6; */
    color: #582A8A;
  /*  margin-bottom:2px;
     border-bottom: 2px solid white;*/
}

.node-type-conocelosandes-story .node .content {
    padding: 20px;
}


.node-type-recursos .video_recurso { 
padding-left:20px;


}

.view-recursos-listado .views-field-field-youtube-embed  img {
    /*-moz-border-radius: 20px 20px 20px 20px;*/
   /* border: 3px solid #FFFFFF;*/
    margin-left: 5px;
    margin-right:-5px;
    margin-bottom:-5px;
}


#block-views-cuencas-block_1 .view-content {
margin-top:20px;
}


#block-views-cuencas-block_2 .views-field-field-mapa-embebido-value {
    margin-top: 20px;
    text-align: center;
}


.view-recursos-listado .view-content .views-row {
    padding-bottom: 10px;
    padding-top: 0;
}

.section-search h2 {
color: #582A8A;
}

#block-menu-menu-mquienessomos h2 {
Display:none;
}


.view-content .calendar-calendar .links {
    display: none;
    margin-top: -20px;
}


.page-node-112 .field-field-body2 {
  margin-left:20px;

}
.page-node-165 .field-field-body2 {
  margin-right: 20px;
}

#footer_andes{
padding:10px;
text-align:center;
}

/*(adam) views frontpage*/

.view-html-list ul li.views-row {
list-style-type:none;
background:url("../images/icono-flecha.gif") no-repeat;
padding-left:30px;
margin-left:0px;
}

.view-html-list ul li.views-row .views-field-title a {
font-weight:bold;
}

.view-html-list ul li.views-row .views-field-body  p{
font-weight:normal;
}

/*footer*/

#footer {
padding-top:50px;
}

.footer-image {
background-color: #FFFFFF;
border-top: 5px solid #582A8A;
padding-top: 10px;
}


.footer-text {
border-top:solid 1px #582A8A;
padding:0px 20px;
background-color:#582A8A;
color:#fff;
height:60px;
text-align:center;
padding-top:20px;
}


#footer a {
color:#fff;
}

#footer .view ul li {
float:left;
list-style-type:none;
margin:0px 15px 20px 0px;
text-align: center;
}

#footer p {
text-align: center;
}

#block-views-recursos_listado-block_3 {
float: left;
width:53%;
}

#block-views-proyectos-block_9 {
float: right;
width:40%;
}

.block h2 {
color: #37A94F;
margin-bottom:10px;
}

.view-content .more-link,
.view-footer .more-link {
float:right;
color: #FFFFFF;
font-weight: bold;
text-decoration: none;
width: 60px;
background-color:#582A8A;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.view-content .more-link a,
.view-footer .more-link a {
text-decoration: none;
text-decoration:none;
color:#fff;
display:block;
margin:5px;
}

.views-row .views-field-field-picture-fid {
float:left;
margin-right:10px;
}

table td .views-field-field-logo-fid {
float:left;
margin-right:10px;
}

table td .views-field-nothing {
float:left;
width:60%;
}


.view-content table td {
vertical-align:top;
padding-bottom:20px;
}

.view-content table td {
width:370px;
padding-right:10px;
}

.view-content a {
color:#E66933;
text-decoration:none;
}

.view-content a:hover {
color:#582A8A;
text-decoration:none;
}


.view-content table td .views-field-title {
margin-bottom:5px;
}

.view-content table td .views-field-title a {
font-size:1.1em;
}

/*fulltext*/

.node-type-proyecto .content-related-nodes,
.node-type-sitio-cuenca .content-related-nodes,
.node-type-novedades .content-related-nodes,
.node-type-investigador .content-related-nodes,
.node-type-page .content-related-nodes {
float:left;
width: 30%;
}


.node-type-proyecto .content-main,
.node-type-sitio-cuenca .content-main,
.node-type-novedades .content-main,
.node-type-investigador .content-main,
.node-type-page .content-main {
width: 60%;
float:left;
padding-right:20px;
}


.node-type-proyecto .content-related-nodes  .field-type-nodereference,
.node-type-sitio-cuenca .content-related-nodes  .field-type-nodereference {
margin-bottom:20px;
}


.content-related-nodes .field {
margin-bottom:20px;
}

.content-related-nodes ul li {
list-style-image: url('../images/arrows.png');
}

.content-related-nodes .field .field-label {
margin-bottom:5px;
}


.content-related-nodes .field .field-items .field-item {
background:url('../images/arrows.png') no-repeat;
padding-left:20px;
}

.content-related-nodes .field-field-picture .field-items .field-item {
background:none;
padding-left:0px;
}

.content-related-nodes ul li a,
.content-related-nodes .field .field-items .field-item a {
color:#582A8A;
text-decoration:none;
}

.content-related-nodes ul li a.active,
.content-related-nodes ul li a:hover,
.content-related-nodes .field .field-items .field-item a:hover {
color:#582A8A;
text-decoration:none;
font-weight:bold;
}

/*views*/

.view-novedades-listado ul li,
.view-vista-rss ul li,
.view-proyectos ul li  {
list-style-type:none;
}

.view-novedades-listado ul li .views-field-title,
.view-proyectos ul li .views-field-title {
margin-bottom:10px;
}

.view-novedades-listado ul li .views-field-nothing .views-list-image, 
.view-proyectos ul li .views-field-nothing .views-list-image {
float:left;
width:30%;
}

.view-novedades-listado ul li .views-field-nothing .views-list-body,
.view-proyectos ul li .views-field-nothing .views-list-body {
float:left;
width:65%;
margin-left:10px;
}

.view-novedades-listado ul li .views-field-nothing-1,
.view-vista-rss ul li .views-field-nothing-1,
.view-proyectos ul li .views-field-nothing-1 {
float:right;
margin-top:5px;
}


.view-novedades-listado ul li .views-field-created {
text-align:right;
}

.view-novedades-listado .views-row,
.view-vista-rss .views-row,
.view-list-projects .views-row,
.view-list-watersheds .views-row {
clear:both;
display:block;
padding-bottom:15px;
border-bottom: dashed 1px #ccc;
margin-bottom:15px;
height:158px;
}

.view-list-projects .views-row {
height:175px;
}


.views_view .views-field-title a {
color:#E66933;
font-weight:bold;
font-size:1.2em;
}
