// http://themeforest.net/item/natural-powerful-responsive-wordpress-theme/full_screen_preview/2358157?ref=terran
// This file will hold styles for the mobile version of your website (mobile first).
// This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide.

//variables definition
$font: 'ptn57f';
$font_sans_narrow: 'PT Sans Narrow';

#page {
  background:url('../images/body-background.png') #ffffff;
}

#page tr:hover td, 
#page tr.even:hover td.active, 
#page tr.odd:hover td.active {
    background: none;
}

#zone-branding-wrapper,
#zone-user-wrapper {
  background-color:#ffffff;
}

//transform vertical to horizontal menu
@mixin linline {
  ul {
    li {
      float:left;
      list-style-type:none; 
      list-style-image:none;
      a {
      text-decoration:none;
      display:block;
      }
    }
  }
}

//generate background for icons and hide its title
@mixin icon($class) {
  & {
  background-image: url("../images/ico_#{$class}.png");
  background-repeat: no-repeat;
  }
  & a {
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 30px;
    width: 20px;
  }
}

//main menu
#block-system-main-menu {
  background-color:#222222;
  @include linline;
  ul li a {
    color:#ffffff;
    text-transform:uppercase;
    padding: 10px 20px;
    font-family:$font;
    font-size: 18px;
    &.active {
        color:#90C34E;
    }
  }
}

#main-menu-container {
  background-color:#222222;
  height:50px;;
  width:100%;
}

#main-menu {
  margin:0 auto;
  width:1170px;
  background-color:#222222;
  @include linline;
  ul li a {
    color:#ffffff;
    text-transform:uppercase;
    padding: 10px 20px;
    font-family:$font;
    font-size: 18px;
    &.active {
        color:#90C34E;
    }
  }
}

//generate css for icons
#block-menu-menu-redes {
  @include linline;
  .facebook {
    @include icon(facebook);
  }
  .twitter{
    @include icon(twitter);
  }
  .youtube {
    @include icon(youtube);
  }
  .flickr {
    @include icon(flickr);
  }
  .slideshare {
    @include icon(slideshare);
  }
}


//introduction in home

#introduction {
border-bottom:1px solid #E5E5E5;
background-color:#F5F5F5;
}

#block-block-7 {
  background-color:#F5F5F5;
  padding:25px 0px;
  font-family:$font;
  font-size:32px;
  color:#666666;
  line-height:32px;
}

#region-header-second {
  background-color:#ffffff;
  border-bottom:solid 1px #E5E5E5;  
  border-right:solid 1px #E5E5E5;  
  border-left:solid 1px #E5E5E5;    
  #block-views-novedades-listado-block-1 {
    padding:20px 10px 20px 15px;
  }
}

.view-slideshow-homepage .views-field-title {
  position:absolute;
  left:0;
  bottom: 0;
  margin: 0;
  padding: 20px 4%;
  position: absolute;
  background-color: rgba(118, 169, 52, 0.8);
  width: 92%;
  & a {
    text-decoration:none;
    font-family:$font;
    font-size: 32px;
    line-height: 36px;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  }
}


#region-postscript-first {
  background-color:#ffffff;
}

#block-andesbdc-projects,
#block-andesbdc-watersheds,
#block-andesbdc-resources,
#block-andesbdc-news {
  background-color: #F5F5F5;
  border-color: #E5E5E5;
  color: #666666; 
  padding:20px 5px;
  float:left;
  .block-shorcuts-image {
    float:left;
    margin-right:5px;
  }
  .block-shorcuts-title {
    font-weight:bold;
    font-family:$font;
    font-size:26px;
  }
  .block-shorcuts-description {
    color:#666666;
  }
}

//footer
#block-block-3 {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: lighter;
  background-color:#222222;
  color:#ffffff;
  padding:20px;
}

//view of 3 items in homepage
#region-preface-first {
  background-color:#ffffff;
  padding:20px 0px;
  border-right:1px solid #E5E5E5;
  border-left:1px solid #E5E5E5;
  & .block-title {
    font-family:'PT Sans Narrow';
    font-size:26px;
    border-bottom:solid 3px #76A934;
    color:#444444;
    margin:10px 20px 40px 20px;
    font-weight:normal;
  }
}

.zone-postscript {
 background-color:transparent;
}

.custom-zone-postscript {
  background-color:#F5F5F5;
  border-right:1px solid #E5E5E5;
  border-left:1px solid #E5E5E5;
  border-bottom:1px solid #E5E5E5;
  border-top:1px solid #E5E5E5;
}

.view-display-id-block_2 {
  @include linline;
  & .views-field-field-picture, & li {
    width:370px;
  }
  .views-field-title {
    font-family:$font_sans_narrow;
    & a {
      text-decoration: none;
      font-size:16px;
      color:#76A934;
      &:hover {
        text-decoration: underline;
        }
      }
    }
 }

#zone-content {
background-color:#ffffff;
box-shadow:0 0 20px rgba(0, 0, 0, 0.09);
}

#block-views-novedades-listado-block-2 {
  .block-title {
    border-bottom:solid 1px #76A934;
    color:#444444;
    font-family:'PT Sans Narrow';
    font-size:22px;
    margin:20px;
  }
}

.view-slideshow-homepage {
padding:15px 10px 15px 15px;
}

#block-system-main {
  font-family:'Droid Sans';
  color:#444444;
  a {
    color:#90C34E;
    text-decoration:none;
    font-weight:bold;
  }
}


#region-sidebar-second--2 {
  .field  {
    margin:20px 0px;
    .field-label {
       color:#ffffff;
       font-family: 'Droid Sans';
       background:url('../images/tag.png') #76A934 no-repeat 2% 50%;
       padding:10px 10px 10px 30px;
     }

    .field-items .field-item {
       margin-top:10px;
       a {
         text-decoration:none;
         color:#444444;
         text-transform:uppercase;
         &:hover {
           text-decoration:underline;
         }
       }
     }
  }
}

// sobre nosotros

.andesbdc-investigadores {
  .block-title {
    font-family:  $font_sans_narrow;
    font-size:22px;   
  }
  table {
    border:none;
  }
  .view-content {
    .views-field-field-picture {
      float:left;
      margin-right:10px;
      opacity:0.4;
      filter:alpha(opacity=40); /* For IE8 and earlier */
      &:hover {
        opacity:1.0;
        filter:alpha(opacity=100); /* For IE8 and earlier */
      }
    }
    .views-td-wrapper {
      background-color: #F5F5F5;
      border: solid 1px #E5E5E5;
      color: #666666;
      overflow:auto;
      padding:10px;
      margin:10px;
    }
    .views-field-field-title a {
      border:none;
      color:#76A934;
      font-family:  $font_sans_narrow;
      text-decoration:none;
      font-weight:bold;
    }
    td {
      padding:0px;
      vertical-align:top;
    }
  }
}


#block-menu-menu-redes {
  float:left;
}

#block-locale-language {
  @include linline;
  float:left;
  .language-switcher-locale-url {
    margin-bottom:5px;
    font-family:$font_sans_narrow;
  }
  li {
    border-left:solid 1px #444444;
    padding:0px 10px;
  }
  li.first {
    border: none;
  }
}


#section-footer {
  background-color:#222222
}


.block-instituciones-logos {
  table {
    border:none;
  }
  .block-title {
    font-family:$font_sans_narrow;
    font-weight:lighter;
    color:#76A934;
    border-bottom:solid 1px #76A934;
    margin:20px 0px;
  }
  .views-field-field-logo {
      opacity:0.4;
      filter:alpha(opacity=40); /* For IE8 and earlier */
      &:hover {
        opacity:1.0;
        filter:alpha(opacity=100); /* For IE8 and earlier */
      }    
  }
}
.block-tweets {
  color:#ffffff;
  li.views-row {
    clear:both;
    font-family:$font_sans_narrow;
    background:url('../images/twitter.png') no-repeat;
    height:100px;
    & .views-field-text {
      padding-left:60px;
      width:85%;
      display:block;
      color:#999999;
      a {
        text-decoration:none;
        color:#ffffff;
      }
    }
    & .views-field-created-time {
      padding-left:45%;
      width:200px;
      display:block;
      color:ffffff;
      .field-content {
        float:right;
      }
    }
  }
  .block-title {
    font-family:$font_sans_narrow;
    font-weight:lighter;
    color:#76A934;
    border-bottom:solid 1px #76A934;
    margin:20px 0px;
  }
}

.block-instituciones-projects  {
  .views-row {
    clear:both;
    margin:20px 0px;
    overflow:auto;
  }
  .views-field-field-item {
    width:77%;
    float:right;
    display:block;
    a {
      text-decoration:none;
      color:#ffffff;
    }
      color:#ffffff;
    .views-field-body {
      font-family:$font_sans_narrow;
      color:#999999;
    }
  }
  .views-field-field-picture {
    float:right;
    margin-right:2%;
  }
  .block-title {
    font-family:$font_sans_narrow;
    font-weight:lighter;
    color:#76A934;
    border-bottom:solid 1px #76A934;
    margin:20px 0px;
  }
}


.andesbdc-panels-projects {
  h2 {
    color:#76A934;
    font-family: $font_sans_narrow;
    font-size: 26px;
  }
}

.andesbdc-block-proyectos {
  table, tr, td, tr:hover, td:hover {
    background-color: #ffffff;
    border:none;
  }
  .views-field-field-picture {
    float:left;
    margin-right: 10px;
  }
  .andesbdc-field-body {
    float:left;
    a {
      font-size:16px;
      font-family: $font_sans_narrow;
      font-weight: lighter;
    }
  }
}